<%- include('../include/header.ejs') %>

    <div class="container">
        <h2><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/13/13398.png"></a> Dung lượng</h2>
        <div class="row">


            <div class="row col-12 col-sm-4 col-md-12" style="height: 30px; text-align: center; margin-top: 10px;">
                <form class="search d-flex" role="search" action="/search" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
                <div class="col-sm-4 col-md-2">
                    <a type="button" class="btn btn-danger" href="/getadddungluong/<%= idloaisp %>">
                        ➕ Thêm dung lượng
                    </a>
                </div>

            </div>


        </div>

    </div>
    </div>
    <div class="container" style="margin-top: 40px;">
        <div class="col-1 col-sm-4 col-md-12">

            <table class="table table-bordered table-striped" style="text-align: center;">
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th></th>
                </tr>

                <% dungluong.forEach( ( row )=>{ %>

                    <tr>
                        <td>
                            <%= row._id%>
                        </td>
                        <td>
                            <a href="">
                                <%= row.name %>
                            </a>
                        </td>

                        <td>
                            <a href="/mausac/<%= row._id%>">
                                <button type="button" class="btn btn-light">Màu sắc</button>
                            </a>
                        </td>

                    </tr>
                    <% } ) %>

            </table>

        </div>
    </div>

    <%- include('../include/footer.ejs') %>