<!DOCTYPE html>
<html>

<head>
    <title>
        <%= tieude %>
    </title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="nXHafPjzQbcCTlbBFFc2qAA5CB95CzOEyv7uDEGgbpk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" type="x-icon" href="/images/banner-image1.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <meta property="og:image" content="<%= image_blog %>">

    <!-- script
    =============================y===================== -->

    <style>
        @media only screen and (max-width: 700px) {
            .nav-search {
                display: block;
            }
            html {
                font-family: sans-serif;
            }
            .section {
                width: 90%;
                padding-top: 30%;
                padding-left: 0%;
                padding-right: 0%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%;
            }
            .section1 {
                width: 90%;
                padding-top: 5%;
                padding-left: 0%;
                padding-right: 0%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            body {
                font-family: "Roboto", sans-serif;
                background-color: rgb(245, 247, 249);
                font-weight: 300;
            }
            .product-preview {
                align-items: center;
                justify-content: center;
            }
            .sanpham {
                width: 80%;
                height: 80%;
            }
            #subscribe {
                margin-left: 2%;
                margin-bottom: 1%;
            }
            #footer {
                background-color: aliceblue;
                color: black;
            }
            #footer-bottom {
                background-color: aliceblue;
                color: black;
            }
            .img-fluid {
                height: 200px;
            }
            .container-fluid {
                display: flex;
                flex-wrap: wrap;
            }
            .section,
            .section1 {
                flex: 1 1 100%;
                margin: 10px;
                display: flex;
                flex-direction: column;
            }
            .section1 {
                order: 2;
                /* Default order for mobile devices */
            }
            .section {
                order: 1;
                /* Default order for mobile devices */
            }
        }
        
        @media only screen and (min-width: 701px) {
            .nav-search {
                display: none;
            }
            .section {
                width: 90%;
                padding-top: 8%;
                padding-left: 1%;
                padding-right: 1%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            .section1 {
                width: 30%;
                padding-top: 5%;
                padding-left: 1%;
                padding-right: 1%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            body {
                font-family: "Roboto", sans-serif;
                background-color: rgb(255, 255, 255)
            }
            .product-preview {
                align-items: center;
                justify-content: center;
            }
            .sanpham {
                width: 50%;
                height: 50%;
            }
            #subscribe {
                margin-left: 2%;
                margin-bottom: 1%;
            }
            #footer {
                background-color: aliceblue;
                color: black;
                padding-top: 3%;
            }
            #footer-bottom {
                background-color: aliceblue;
                color: black;
            }
            .img-fluid {
                height: 200px;
            }
            .container-fluid {
                display: flex;
                justify-content: space-between;
            }
            .section1,
            .section {
                flex: 0 1 auto;
                margin: 10px;
                display: flex;
                flex-direction: column;
            }
            .post-grid {
                display: flex;
                flex-direction: column;
            }
            .card-title {
                font-size: 15px;
            }
            .buttonbaominh {
                width: 300px;
                font-size: 20px;
                background-color: rgb(250, 24, 24);
                color: aliceblue;
                border: none;
                border-radius: 20px;
                height: 200px
            }
        }
    </style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16700715907"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-16700715907');
    </script>
    <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '922929536698262');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=922929536698262&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>

<body>
    <%- include('../include/header2.ejs') %>

        <div class="container-fluid d-flex">

            <section id="latest-blog" class="section1 flex-fill">
                <div class="container">
                    <div class="row">
                        <div class="display-header d-flex justify-content-between pb-3">
                            <h5 class="display-7 text-dark text-uppercase">Các bài viết liên quan</h5>
                            <div class="btn-right">
                                <a href="/getblog" class="btn btn-medium btn-normal text-uppercase">ĐỌC THÊM</a>
                            </div>
                        </div>
                        <div class="post-grid d-flex flex-column">
                            <% listBl.splice(0,5).forEach((item) => { %>
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <div class="card border-none">
                                        <div class="card-image justify-content-center align-items-center text-center">
                                            <img src="<%= item.img_blog %>" alt="product-item" class="img-fluid">
                                        </div>
                                        <div class="card-body text-uppercase" style="word-wrap: break-word">
                                            <h5 class="card-title">
                                                <a href="/contentBlog/<%= encodeURIComponent(item.tieude_khongdau).replace(/%20/g, '-')%>">
                                                    <%= item.tieude_blog %>
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>

                    </div>
                </div>
            </section>
            <section id="selling-product" class="section flex-fill" style="word-wrap: break-word">
                <h3 itemprop="name" class="display-7 text-uppercase" style="font-weight: bold;">
                    <%= tieude %>
                </h3>
                <div class="container mb-4 pb-4">
                    <div>
                        <% content.forEach((item) => { %>
                            <div class="mb-4">
                                <h5 itemprop="name" class="display-7" style="font-weight: bold;">
                                    <%= item.tieude.replace(/\\n/g, "<br>") %>
                                </h5>
                                <p style="color: black; text-align: justify; text-indent: 1em;">
                                    <%- item.content.replace(/\\n/g, "<br>&nbsp;&nbsp;&nbsp;&nbsp;") %>
                                </p>
                                <% if (item.img) { %>
                                    <div class="product-preview mb-3 d-flex justify-content-center">
                                        <img src="<%= item.img %>" class="sanpham" alt="product image">

                                    </div>
                                    <% } %>
                            </div>
                            <% }); %>
                    </div>
                    <div>
                        <h5 style="font-weight: bold;">Xem Thêm</h5>
                        <li>
                            <a href="https://www.baominhmobile.com/contentBlog/Cach-xoa-anh-tren-Locket-cuc-de-dang-don-dep-bot-nhung-buc-anh-cu-hoac-khong-con-phu-hop-nua" style="font-size: 18px;">Cách xóa ảnh trên Locket dễ dàng, dọn dẹp bớt những bức hình cũ hoặc không còn phù hợp</a>
                        </li>
                        <li>
                            <a href="https://www.baominhmobile.com/contentBlog/TOP-5-CUA-HANG-MUA-BAN-IPHONE-GIA-TOT-NHAT-TAI-HA-NOI" style="font-size: 18px;">Top 5 Cửa Hàng Mua Bán Iphone Giá Tốt Nhất Tại Hà Nội</a>
                        </li>
                    </div>
                </div>
                <a class="btn tn-medium btn-danger text-center mb-3" href="/">Mua Iphone Chính Hãng Tại Bảo Minh Store</a>
            </section>

        </div>
        <section id="subscribe" class="container-grid position-relative overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                        <div class="col-md-6 col-sm-12">
                            <div class="display-header pe-3">
                                <h2 class="display-7 text-uppercase text-light">Đăng ký cho chúng tôi ngay</h2>
                                <p>
                                    Nhận tin tức mới nhất, cập nhật và giao dịch được gửi trực tiếp đến hộp thư đến của bạn.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <form class="subscription-form validate">
                                <div class="input-group flex-wrap">
                                    <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Địa chỉ email của bạn ở đây" required="">
                                    <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../include/footer2.ejs') %>
            <script src="/js/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="/js/plugins.js"></script>
            <script type="text/javascript" src="/js/script.js"></script>
            <script>
                function makeCall() {
                    event.preventDefault();
                    // Thay đổi số điện thoại dưới đây bằng số điện thoại thực tế
                    var phoneNumber = "0816354354";

                    // Kiểm tra xem trình duyệt có hỗ trợ gọi điện không
                    if ("contacts" in navigator && "ContactsManager" in window) {
                        // Sử dụng API Contacts để gọi điện
                        navigator.contacts.select(["phone"]).then(contacts => {
                            // Gọi điện đến số điện thoại đã được chỉ định
                            contacts.forEach(contact => {
                                contact.phoneNumbers.forEach(phone => {
                                    if (phone.value === phoneNumber) {
                                        contact.pick();
                                    }
                                });
                            });
                        });
                    } else {
                        // Mở giao diện gọi điện của trình duyệt
                        window.location.href = "tel:" + phoneNumber;
                    }
                }
                document.addEventListener("DOMContentLoaded", function() {
                    const callA = document.getElementById("callA");

                    if (callA) {
                        callA.addEventListener("click", makeCall);
                    }
                });
            </script>
</body>

</html>
</div>
</div>
</div>
</div>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>