<!DOCTYPE html>
<html>

    <head>
        <title>BẢO MINH STORE - CHUYÊN IPHONE CÁC LOẠI</title>
        <meta charset="utf-8">
        <meta name="google-site-verification"
            content="nXHafPjzQbcCTlbBFFc2qAA5CB95CzOEyv7uDEGgbpk" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content>
        <meta name="keywords" content>
        <meta name="description"
            content="Cung cấp iphone chính hãng giá rẻ tại Hà Nội, Sửa chữa bảo hành miễn phí">
        <link rel="shortcut icon" type="x-icon"
            href="/images/banner-image1.png">
        <meta property="og:image" content="/images/banner-image1.png">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
        @media only screen and (max-width: 700px) {
            .nav-search {
                display: block;
            }
            .searchSection {
                display: block;
            }
            .message-button {
                background-color: #3498db;
                color: white;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: fixed;
                bottom: 70px;
                right: 70px;
            }
            .message-button:hover {
                animation: shake 0.5s;
            }
            body {
                font-family: "Roboto", sans-serif;
                font-size: 10px;
                font-weight: 500;
                line-height: 1.6;
                margin: 0;
                background-color: aliceblue;
                background-image: none;
            }
            .facezalo {
                position: fixed;
                right: 5%;
                bottom: 10%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 3;
            }
            .anhfacezalo {
                width: 50%;
                height: 50%;
                margin-top: 20%;
                animation: shake 1s infinite alternate;
                /* Sử dụng animation với tên 'shake', thời gian 0.5s, lặp lại vô hạn và chuyển động xen kẽ */
                transform-origin: center;
                /* Đặt điểm xoay tại trung tâm của ảnh */
            }
            @keyframes shake {
                0% {
                    transform: rotate(-10deg);
                    /* Góc xoay ban đầu */
                }
                50% {
                    transform: rotate(10deg);
                    /* Góc xoay giữa chừng */
                }
                100% {
                    transform: rotate(-10deg);
                    /* Góc xoay kết thúc */
                }
            }
            @keyframes expand {
                0% {
                    transform: scale(1);
                    /* Kích thước ban đầu */
                    opacity: 1;
                    /* Độ mờ ban đầu */
                }
                50% {
                    transform: scale(1.1);
                    /* Kích thước tăng lên */
                    opacity: 0.75;
                    /* Giảm độ mờ */
                }
                100% {
                    transform: scale(1);
                    /* Kích thước tăng lên */
                    opacity: 1;
                    /* Ẩn đi */
                }
            }
            .anhfz {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 80, 247);
                width: 60px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 60px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .anhdt {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 247, 13);
                width: 60px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 60px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .section {
                padding-right: 3%;
                padding-bottom: 3%;
                padding-top: 2%;
                width: 100%;
                overflow: hidden;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin: 0 auto;
            }
            .product-swiper {
                height: 400px;
                /* Thiết lập chiều cao cố định cho swiper */
            }
            .section1 {
                padding-bottom: 1%;
                padding-top: 2%;
                width: 100%;
                overflow: hidden;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin: 0 auto;
            }
            .sc {
                margin-top: 15%;
                background-color: rgb(251, 251, 252);
                margin-bottom: 1%;
                margin-left: 1%;
                margin-right: 1%;
            }
            .sp {
                margin-top: 1%;
                margin-left: 2%;
                margin-right: 2%;
                margin-bottom: 2%;
            }
            .sale45 {
                padding-left: 2%;
                padding-right: 5%;
                padding-bottom: 3%;
                padding-top: 2%;
                width: 100%;
                overflow: hidden;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin: 0 auto;
            }
            .sale47 {
                margin: 0 auto;
                height: 35px;
                margin-right: 2%;
                margin-left: 2%;
            }
            .sale46 {
                overflow: hidden;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin: 0 auto;
                border-radius: 10px;
            }
            .imgbanner {
                width: 100%;
            }
            .divsale45 {
                width: 70%;
                margin-bottom: 10%;
                margin-left: 43.3333%;
            }
            .h3sale {
                width: 80%;
            }
            .list {
                width: 100%;
                background-color: rgb(251, 251, 252);
            }
            .thanhphan {
                width: 100%;
            }
            .name {
                margin-right: 1px;
            }
            #left,
            #right {
                display: none;
            }
            #hi {
                top: 10%;
                bottom: 7%;
                position: relative;
            }
            #billboard {
                display: none;
            }
            header {
                top: 0;
            }
            .anh {
                width: 290px;
                height: auto;
            }
            .divimgsale {
                width: 100%;
                height: 40%;
                margin: 0 auto;
            }
            .imgsale {
                width: 100%;
                height: 100%;
                margin-bottom: 3%;
            }
            @keyframes shake {
                0% {
                    transform: translate(0, 0);
                }
                10% {
                    transform: translate(-5px, 0);
                }
                20% {
                    transform: translate(5px, 0);
                }
                30% {
                    transform: translate(-5px, 0);
                }
                40% {
                    transform: translate(5px, 0);
                }
                50% {
                    transform: translate(-5px, 0);
                }
                60% {
                    transform: translate(5px, 0);
                }
                70% {
                    transform: translate(-5px, 0);
                }
                80% {
                    transform: translate(5px, 0);
                }
                90% {
                    transform: translate(-5px, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
            .dialog-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 150%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 20;
            }
            .dialog-content {
                margin-top: 10%;
                margin-left: 5%;
                /* Đặt margin-left thành auto để canh giữa */
                margin-right: 3%;
                /* Đặt margin-right thành auto để canh giữa */
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                max-width: 57%;
                text-align: center;
            }
            .dialog-buttons {
                margin-top: 20px;
            }
            .rating .star {
                color: #ccc;
                /* Màu mặc định cho tất cả các sao */
            }
            .rating .star.selected {
                color: gold;
                /* Màu của các sao đã chọn */
            }
            .dialog-xemthem {
                margin-top: 10%;
                margin-left: 5%;
                /* Đặt margin-left thành auto để canh giữa */
                margin-right: 3%;
                /* Đặt margin-right thành auto để canh giữa */
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                max-width: 57%;
                text-align: center;
                max-height: 400px;
                /* Đặt độ cao tối đa của dialog */
                overflow-y: auto;
                /* Thêm thanh trượt nếu nội dung vượt quá độ cao tối đa */
                position: relative;
            }
            .dialog-button {
                width: 27.15%;
                position: fixed;
                /* Đặt vị trí tuyệt đối để cố định nút */
                bottom: 30%;
                /* Đặt vị trí bottom để cố định nút dưới cùng */
                left: 50%;
                /* Đặt vị trí left ở giữa */
                transform: translateX(-50%);
                /* Dịch chuyển nút sang trái để căn giữa */
                z-index: 1;
                /* Đảm bảo nút hiển thị trên thanh trượt */
            }
            .btndong {
                background-color: #fb2104;
                color: rgb(251, 252, 253);
            }
            #img-fluid {
                height: 200px;
            }
            .inputSearch {
                font-size: 15px;
                height: 50px;
                border: 2px solid rgb(221, 221, 221);
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                padding-left: 10px;
                transition: box-shadow 0.3s, border-color 0.3s;
                flex: 1;
                position: relative;
                padding-right: 30px;
            }
            .inputSearch:focus {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                border-color: rgb(200, 0, 0);
            }
            .btnSearch {
                border: none;
                font-size: 15px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                background-color: red;
                color: white;
                font-weight: bold;
                height: 50px;
                cursor: pointer;
            }
            .inputSearch::after {
                content: '\00d7';
                /* Ký tự dấu x (×) */
                position: absolute;
                right: 10px;
                /* Khoảng cách từ cạnh phải */
                top: 50%;
                /* Căn giữa theo chiều dọc */
                transform: translateY(-50%);
                /* Căn giữa chính xác theo chiều dọc */
                cursor: pointer;
                font-size: 16px;
                color: #888;
                /* Màu sắc của dấu x */
                display: none;
                /* Ẩn dấu x mặc định */
            }
            .inputSearch:not(:placeholder-shown)::after {
                display: block;
                /* Hiển thị dấu x khi có nội dung */
            }
        }
        
        @media only screen and (min-width: 701px) {
            .nav-search {
                display: block;
            }
            .message-button {
                background-color: #3498db;
                color: white;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: fixed;
                bottom: 70px;
                right: 70px;
            }
            .facezalo {
                position: fixed;
                bottom: 10%;
                right: 2%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 3;
            }
            .anhfacezalo {
                width: 56%;
                height: 56%;
                margin-top: 20%;
                animation: shake 1s infinite alternate;
                /* Sử dụng animation với tên 'shake', thời gian 0.5s, lặp lại vô hạn và chuyển động xen kẽ */
                transform-origin: center;
                cursor: pointer;
                /* Đặt điểm xoay tại trung tâm của ảnh */
            }
            @keyframes shake {
                0% {
                    transform: rotate(-10deg);
                    /* Góc xoay ban đầu */
                }
                50% {
                    transform: rotate(10deg);
                    /* Góc xoay giữa chừng */
                }
                100% {
                    transform: rotate(-10deg);
                    /* Góc xoay kết thúc */
                }
            }
            @keyframes expand {
                0% {
                    transform: scale(1);
                    /* Kích thước ban đầu */
                    opacity: 1;
                    /* Độ mờ ban đầu */
                }
                50% {
                    transform: scale(1.1);
                    /* Kích thước tăng lên */
                    opacity: 0.75;
                    /* Giảm độ mờ */
                }
                100% {
                    transform: scale(1);
                    /* Kích thước tăng lên */
                    opacity: 1;
                    /* Ẩn đi */
                }
            }
            .anhfz {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 80, 247);
                width: 70px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 70px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .anhdt {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 247, 13);
                width: 70px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 70px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            body {
                background-image: url('https://images.fpt.shop/unsafe/fit-in/filters:quality(95):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/12/22/638388517162378445_desk-header-bg.png');
                /* Đường dẫn đến hình ảnh nền */
                background-size: 100% auto;
                /* Hiển thị hình ảnh nền theo tỷ lệ khung hình của trình duyệt */
                background-position: top;
                /* Đặt hình ảnh nền ở giữa trang */
                background-repeat: no-repeat;
                /* Không lặp lại hình ảnh nền */
                background-color: #fb2104;
            }
            .section {
                padding-right: 3%;
                padding-top: 2%;
                padding-bottom: 2%;
                height: 23%;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 10px;
            }
            .product-swiper {
                height: 450px;
                /* Thiết lập chiều cao cố định cho swiper */
            }
            .section1 {
                padding-bottom: 1%;
                padding-top: 2%;
                height: 23%;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 10px;
            }
            .sc {
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin-bottom: 1%;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 10px;
            }
            .ft {
                z-index: 9;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin-left: 0;
                margin-right: 0;
                padding-top: 10px;
            }
            .list {
                width: 100%;
                background-color: rgb(251, 251, 252);
            }
            .sale45 {
                padding-left: 2%;
                padding-right: 5%;
                padding-bottom: 3%;
                padding-top: 2%;
                height: 23%;
                overflow: hidden;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin: 0 auto;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 10px;
            }
            .sale47 {
                padding-bottom: 3%;
                padding-top: 2%;
                height: 23%;
                margin-left: 10%;
                margin-right: 10%;
                border-radius: 10px;
            }
            .sale46 {
                overflow: hidden;
                background-color: rgb(251, 251, 252);
                margin-top: 0.5%;
                margin: 0 auto;
                margin-left: 13%;
                margin-right: 12%;
                border-radius: 10px;
                max-width: 74%;
                max-height: 10%;
            }
            .imgbanner {
                width: 100%;
            }
            .divsale45 {
                width: 70%;
                margin-bottom: 10%;
                margin-left: 160%;
            }
            .h3sale {
                width: 150%;
                font-size: 40px;
            }
            .sp {
                margin-top: 1%;
                margin-left: 2%;
                margin-right: 2%;
                margin-bottom: 2%;
            }
            #header {
                width: 100%;
            }
            #left,
            #right {
                height: 50%;
                width: 10%;
                animation: tilt 2s ease-in-out infinite reverse;
                position: fixed;
                z-index: 2;
                bottom: 35%;
                will-change: transform;
            }
            #left {
                left: 0;
            }
            #right {
                right: 0;
            }
            #thich {
                box-sizing: border-box;
                margin-left: 50px;
                /* Để tránh chồng lấn với hình ảnh bên trái */
                margin-right: 50px;
                /* Để tránh chồng lấn với hình ảnh bên phải */
                z-index: 1;
            }
            #hi {
                bottom: 0;
                position: relative;
            }
            #imagedoi {
                position: absolute;
                top: 45%;
                left: 0;
                right: 0;
                z-index: 2;
            }
            #billboard {
                margin-left: 50px;
                /* Để tránh chồng lấn với hình ảnh bên trái */
                margin-right: 50px;
                height: 75%;
                overflow: hidden;
                position: relative;
                z-index: 9;
                background-image: none;
            }
            .anh {
                width: 270px;
                height: auto;
            }
            #footer-bottom {
                z-index: 9;
                background-color: rgb(251, 251, 252);
            }
            #billboard .image-holder {
                margin-left: 0;
                width: 100%;
                height: 100%;
            }
            #anhbanner {
                margin-top: 150px;
                margin-left: 50px;
                margin-bottom: 0;
                width: 220%;
                height: auto;
            }
            .divimgsale {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
            .imgsale {
                width: 100%;
                height: auto;
                margin-bottom: 3%;
            }
            h6 {
                text-transform: uppercase;
            }
            @keyframes tilt {
                0% {
                    transform: rotate(-5deg);
                }
                50% {
                    transform: rotate(10deg);
                }
                100% {
                    transform: rotate(-5deg);
                }
            }
            @keyframes shake {
                0% {
                    transform: translate(0, 0);
                }
                10% {
                    transform: translate(-5px, 0);
                }
                20% {
                    transform: translate(5px, 0);
                }
                30% {
                    transform: translate(-5px, 0);
                }
                40% {
                    transform: translate(5px, 0);
                }
                50% {
                    transform: translate(-5px, 0);
                }
                60% {
                    transform: translate(5px, 0);
                }
                70% {
                    transform: translate(-5px, 0);
                }
                80% {
                    transform: translate(5px, 0);
                }
                90% {
                    transform: translate(-5px, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
            .dialog-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 20;
            }
            .dialog-content {
                margin-top: 10%;
                margin-left: auto;
                /* Đặt margin-left thành auto để canh giữa */
                margin-right: auto;
                /* Đặt margin-right thành auto để canh giữa */
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                max-width: 400px;
                text-align: center;
            }
            .dialog-buttons {
                margin-top: 20px;
            }
            .rating .star {
                color: #ccc;
                /* Màu mặc định cho tất cả các sao */
            }
            .rating .star.selected {
                color: gold;
                /* Màu của các sao đã chọn */
            }
            .dialog-xemthem {
                margin-top: 10%;
                margin-left: auto;
                /* Đặt margin-left thành auto để canh giữa */
                margin-right: auto;
                /* Đặt margin-right thành auto để canh giữa */
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                max-width: 400px;
                text-align: center;
                max-height: 400px;
                /* Đặt độ cao tối đa của dialog */
                overflow-y: auto;
                /* Thêm thanh trượt nếu nội dung vượt quá độ cao tối đa */
                position: relative;
            }
            .dialog-button {
                width: 27.15%;
                position: fixed;
                /* Đặt vị trí tuyệt đối để cố định nút */
                bottom: 15%;
                /* Đặt vị trí bottom để cố định nút dưới cùng */
                left: 50%;
                /* Đặt vị trí left ở giữa */
                transform: translateX(-50%);
                /* Dịch chuyển nút sang trái để căn giữa */
                z-index: 1;
                /* Đảm bảo nút hiển thị trên thanh trượt */
            }
            .btndong {
                background-color: #fb2104;
                color: rgb(251, 252, 253);
            }
            #img-fluid {
                height: 200px;
            }
            .searchSection {
                display: none;
            }
        }
    </style>
        <!-- script
    ================================================== -->
        <!-- Google tag (gtag.js) -->
        <!-- Google Tag Manager -->
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PNXD3PWT');
    </script>
        <!-- End Google Tag Manager -->
        <script async
            src="https://www.googletagmanager.com/gtag/js?id=AW-16700715907"></script>
        <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-16700715907');
    </script>
        <!-- Google tag (gtag.js) -->
        <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-ZXSL91B52T"></script>
        <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-ZXSL91B52T');
    </script>

        <!-- Meta Pixel Code -->
        <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1130264488606980');
fbq('track', 'PageView');
</script>
        <noscript><img height="1" width="1" style="display:none"
                src="https://www.facebook.com/tr?id=1130264488606980&ev=PageView&noscript=1" /></noscript>
        <!-- End Meta Pixel Code -->
    </head>

    <body data-bs-spy="scroll" data-bs-target="#navbar"
        data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
        tabindex="0">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PNXD3PWT"
                height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="facezalo">
            <div class="anhfz">
                <a href="https://www.messenger.com/t/110013628554676/">
                    <img class="anhfacezalo" id="fanpageButton"
                        src="/images/mess.png"
                        alt>
                </a>
            </div>

            <div class="anhdt">
                <a href="tel: 0816354354">
                    <img class="anhfacezalo"
                        src="/images/phone.webp"
                        alt>
                </a>
            </div>
        </div>

        <%- include('../include/header2.ejs') %>

        <form action="/danhgia" method="post">

            <div id="successDialog" class="dialog-overlay">
                <div class="dialog-content">
                    <h2>Đánh Giá</h2>
                    <div class="d-flex flex-column">
                        <input style="width: 100%;font-size: 20px;"
                            class="text-black " placeholder="họ và tên"
                            name="tenkhach">
                        <textarea
                            style="width: 100%; margin-top: 5%; font-size: 20px;"
                            class="text-black" name="content"
                            placeholder="nội dung"></textarea>
                    </div>
                    <div class="rating" style="font-size: 30px;">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <input type="hidden" name="rating" id="ratingInput">
                    <p id="sendingMessage"
                        style="display: none; font-size: 20px;">Đang gửi đánh
                        giá, vui lòng đợi giây lát...</p>
                    <div class="dialog-buttons">
                        <button onclick="hideDialog()"
                            class="btn btn-secondary">Không</button>
                        <button type="submit" onclick="showSendingMessage()"
                            class="btn btn-primary">Có</button>
                    </div>
                </div>
            </div>

        </form>

        <div class="container" style="height: 100px;"></div>
        <section id="mobile-products"
            class="product-store position-relative no-padding-top section searchSection">
            <div class="container sp">
                <div class="row">
                    <div class="display-header justify-content-between">
                        <div>
                            <form action="/search-products"
                                style="display: flex; position: relative;"
                                role="search" method="get">
                                <input id="search-input" class="inputSearch"
                                    type="text" placeholder="Tìm kiếm sản phẩm"
                                    name="query">
                                <button class="btnSearch" type="submit">Tìm
                                    kiếm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="overlay" class="overlay"></div>
        </section>

        <section id="yearly-sale"
            class="bg-light-blue mt-2 mb-2 overflow-hidden sale46">
            <div class="container ">
                <div id="carouselExample" class="carousel slide"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a
                                href="https://www.facebook.com/profile.php?id=100086450281606">
                                <img src="/images/banner2.png"
                                    class=" imgbanner" alt="Image 1">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a
                                href="https://www.facebook.com/profile.php?id=100086450281606">
                                <img src="/images/banner2.jpg" class="imgbanner"
                                    alt="Image 2"></a>
                        </div>
                        <div class="carousel-item">
                            <a
                                href="https://www.facebook.com/profile.php?id=100086450281606">
                                <img src="/images/banner3.jpg" class="imgbanner"
                                    alt="Image 3"></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <div id="hi">
            <div id="imagedoi">
                <img id="left"
                    src="https://baominhmobile.com/images/rongtrai.png" alt>
                <img id="right"
                    src="https://baominhmobile.com/images/rongphai.png" alt>
            </div>
            <div id="thich">

                <% tenspjson.forEach((row, index)=> { %>
                <section id="mobile-products"
                    class="product-store position-relative no-padding-top section">
                    <div class="container sp">
                        <div class="row">
                            <div
                                class="display-header d-flex justify-content-between pb-3 align-items-center">
                                <a
                                    href="/getspchitiet/<%= encodeURIComponent(row.name).replace(/%20/g, '-') %>"
                                    class="btn btn-normal text-uppercase">
                                    <h2
                                        class="display-7 text-dark text-uppercase">
                                        <%= row.name %>
                                    </h2>
                                </a>
                                <div class="btn-right">
                                    <a
                                        href="/getspchitiet/<%= encodeURIComponent(row.name).replace(/%20/g, '-') %>"
                                        class="btn
                    btn-medium btn-normal text-uppercase">Xem Thêm</a>

                                </div>
                            </div>
                            <div class="divimgsale">
                                <img class="imgsale" src="/images/banner3.png"
                                    alt>
                            </div>
                            <div class="swiper product-swiper swiper-container">
                                <div class="swiper-wrapper">
                                    <% row.chitietsp.slice(0, 7).forEach((item,
                                    index)=> { %>
                                    <% var rowname=row.name; %>
                                    <div class="swiper-slide">
                                        <div
                                            class="product-card position-relative">
                                            <div class="image-holder">
                                                <a
                                                    href="/getchitiet/<%= encodeURIComponent(item.name).replace(/%20/g, '-').replace(/%25/g, 'pt' ) %>/<%=
                                  encodeURIComponent(rowname).replace(/%20/g, '-' ).replace(/%25/g, 'pt' ) %>">
                                                    <img src="<%= item.image %>"
                                                        alt="product-item"
                                                        class="img-fluid anh"
                                                        loading="lazy">
                                                </a>
                                            </div>
                                            <div style="padding: 5%;"
                                                class="cart-concern position-absolute ">
                                                <div class="cart-button d-flex">
                                                    <a
                                                        style="font-size: 10px; max-height: 85%;"
                                                        href="/getchitiet/<%= encodeURIComponent(item.name).replace(/%20/g, '-').replace(/%25/g, 'pt' ) %>/<%=
                                  encodeURIComponent(rowname).replace(/%20/g, '-' ).replace(/%25/g, 'pt' ) %>"
                                                        class="btn btn-medium btn-danger">Chi
                                                        tiết</a>
                                                    <a
                                                        href="/muangay/<%= item.id %>"
                                                        style="font-size: 10px; height: 85%;"
                                                        class="btn btn-medium btn-danger">Mua
                                                        ngay</a>
                                                </div>
                                            </div>
                                            <div
                                                class="card-detail text-center justify-content-between align-items-baseline pt-3 thanhphan">
                                                <h6>
                                                    <a
                                                        href="/getchitiet/<%= encodeURIComponent(item.name).replace(/%20/g, '-').replace(/%25/g, 'pt' ) %>/<%=
                                  encodeURIComponent(rowname).replace(/%20/g, '-' ).replace(/%25/g, 'pt' ) %>"
                                                        class="name">
                                                        <%= item.name %>
                                                    </a>
                                                </h6>
                                                <span
                                                    class="item-price text-black price text-wrap fw-bold">
                                                    <%= item.price %>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <div
                                    class="swiper-pagination position-absolute text-center"
                                    style="top: 90%;"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-light-blue mt-2 mb-2 overflow-hidden sale47"
                    style="background-image: url('/images/banner5.png');background-position: right; background-repeat: no-repeat; background-size: cover;">

                </section>

                <% }) %>
                <section id="yearly-sale"
                    class="bg-light-blue mt-2 mb-2 overflow-hidden sale45"
                    style="background-image: url('/images/single-image1.png');background-position: right; background-repeat: no-repeat; background-size: cover;">
                    <div class="row d-flex flex-wrap ">
                        <div class="col-md-4 col-sm-8">
                            <div class="text-content divsale45">
                                <h3 class="h3sale"
                                    style="color: aliceblue;">Sale lên đến
                                    45%</h3>
                                <h3 class="h3sale" style="color: aliceblue;">cho
                                    mọi sản phẩm</h3>
                                <a href="/shop"
                                    class="btn btn-medium btn-dark text-uppercase btn-rounded-none ">Shop
                                    Sale</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="latest-blog" class="padding-small section1">
                    <div class="container">
                        <div class="row">
                            <div
                                class="display-header d-flex justify-content-between pb-3">
                                <h2
                                    class="display-7 text-dark text-uppercase">Phụ
                                    kiện đi kèm</h2>
                            </div>
                            <div
                                class="post-grid d-flex flex-wrap justify-content-between">
                                <div class="col-lg-3 col-sm-12">
                                    <div class="card border-none">
                                        <div class="card-image">
                                            <img src="/images/post-item1.jpg"
                                                alt class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div
                                            class="card-meta text-muted text-uppercase">
                                            <span class="meta-date">Hàng chính
                                                hãng</span>
                                            <span class="meta-category">- Bảo
                                                Minh Store</span>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">Củ sạc nhanh Apple 20W
                                                Type-C</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="card border-none">
                                        <div class="card-image">
                                            <img src="/images/post-item2.jpg"
                                                alt class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div
                                            class="card-meta text-muted text-uppercase">
                                            <span class="meta-date">Hàng chính
                                                hãng</span>
                                            <span class="meta-category">- Bảo
                                                Minh Store</span>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">Dây cáp sạc nhanh
                                                Apple</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="card border-none">
                                        <div class="card-image">
                                            <img src="/images/post-item3.jpg"
                                                alt class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div
                                            class="card-meta text-muted text-uppercase">
                                            <span class="meta-date">Hàng chính
                                                hãng</span>
                                            <span class="meta-category">- Bảo
                                                Minh Store</span>
                                        </div>
                                        <h3 class="card-title">
                                            <a href="#">Ốp lưng dẻo thời trang,
                                                cường lực chắc chắn</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="testimonials" class="position-relative section1">
                    <div class="container">
                        <div class="row">
                            <div
                                class="display-header d-flex justify-content-between pb-3">
                                <h3
                                    class="display-7 text-dark text-uppercase">Đánh
                                    giá</h3>
                                <div class="btn-right">
                                    <button onclick="showSuccessDialog()"
                                        class="btn btn-medium btn-normal text-uppercase">
                                        ĐÁNH GIÁ
                                    </button>
                                    <button onclick="showSuccessDialogxemthem()"
                                        class="btn btn-medium btn-normal text-uppercase">
                                        ĐỌC THÊM
                                    </button>

                                </div>
                            </div>
                            <div class="review-content position-relative">
                                <div
                                    class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
                                    <svg class="chevron-left">
                                        <use xlink:href="#chevron-left" />
                                    </svg>
                                </div>
                                <div class="swiper testimonial-swiper">

                                    <div class="swiper-wrapper">
                                        <% danhgiaIsReadTrue.slice(0,
                                        7).forEach((row, index)=> { %>
                                        <div
                                            class="swiper-slide text-center d-flex justify-content-center">
                                            <div class="review-item col-md-10">
                                                <i class="icon icon-review"></i>
                                                <h6>“
                                                    <%= row.content %>”
                                                </blockquote>
                                                <div class="rating">
                                                    <span
                                                        class="star <%= row.rating >= 1 ? 'selected' : '' %>">&#9733;</span>
                                                    <span
                                                        class="star <%= row.rating >= 2 ? 'selected' : '' %>">&#9733;</span>
                                                    <span
                                                        class="star <%= row.rating >= 3 ? 'selected' : '' %>">&#9733;</span>
                                                    <span
                                                        class="star <%= row.rating >= 4 ? 'selected' : '' %>">&#9733;</span>
                                                    <span
                                                        class="star <%= row.rating >= 5 ? 'selected' : '' %>">&#9733;</span>
                                                </div>
                                                <div class="author-detail">
                                                    <div
                                                        class="name text-dark text-uppercase pt-2">
                                                        <%= row.tenkhach %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                    </div>
                                </div>
                                <div
                                    class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
                                    <svg class="chevron-right">
                                        <use xlink:href="#chevron-right" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </section>

                <div id="dialogxemthem" class="dialog-overlay">
                    <div class="dialog-xemthem">
                        <h2>Đánh Giá</h2>
                        <% danhgiaIsReadTrue.forEach((row, index)=> { %>
                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <h6 class="me-3">
                                    <%= row.tenkhach %>
                                </h6>
                                <div class="rating">
                                    <span
                                        class="star <%= row.rating >= 1 ? 'selected' : '' %>">&#9733;</span>
                                    <span
                                        class="star <%= row.rating >= 2 ? 'selected' : '' %>">&#9733;</span>
                                    <span
                                        class="star <%= row.rating >= 3 ? 'selected' : '' %>">&#9733;</span>
                                    <span
                                        class="star <%= row.rating >= 4 ? 'selected' : '' %>">&#9733;</span>
                                    <span
                                        class="star <%= row.rating >= 5 ? 'selected' : '' %>">&#9733;</span>
                                </div>
                            </div>
                            <p>“
                                <%= row.content %>”</p>
                            <hr>
                        </div>
                        <% }) %>
                        <div class="dialog-button">
                            <button onclick="hideDialogxemthem()"
                                class="btn btn-secondary btndong">Đóng</button>
                        </div>
                    </div>
                </div>

                <section id="latest-blog" class="padding-small section1">
                    <div class="container">
                        <div class="row">
                            <div
                                class="display-header d-flex justify-content-between pb-3">
                                <h2
                                    class="display-7 text-dark text-uppercase">Bài
                                    đăng và tiện ích</h2>
                                <div class="btn-right">
                                    <a href="/getblog"
                                        class="btn btn-medium btn-normal text-uppercase">ĐỌC
                                        THÊM</a>
                                </div>
                            </div>
                            <div
                                class="post-grid d-flex flex-wrap justify-content-between">
                                <% listBl.slice(0, 3).forEach((item)=> { %>
                                <div class="col-lg-3 col-sm-12 ">
                                    <div class="card border-none ">
                                        <div
                                            class="card-image text-center overflow-hidden ">
                                            <img src="<%= item.img_blog %>"
                                                alt="product-item"
                                                id="img-fluid">
                                        </div>
                                    </div>
                                    <div class="card-body text-center"
                                        style="word-wrap: break-word">
                                        <h3 class="card-title">
                                            <a
                                                href="/contentBlog/<%= encodeURIComponent(item.tieude_khongdau).replace(/%20/g, '-')%>">
                                                <%= item.tieude_blog %>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="subscribe"
                    class="container-grid padding-small position-relative overflow-hidden section">
                    <div class="container">
                        <div class="row">
                            <div
                                class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                                <div class="col-md-6 col-sm-12">
                                    <div class="display-header pe-3">
                                        <h2
                                            class="display-7 text-uppercase text-light">Đăng
                                            ký cho chúng tôi ngay</h2>
                                        <p>Nhận tin tức mới nhất, cập nhật và
                                            giao dịch được gửi trực tiếp đến hộp
                                            thư đến của bạn.</p>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    <form class="subscription-form validate">
                                        <div class="input-group flex-wrap">
                                            <input
                                                class="form-control btn-rounded-none"
                                                type="email" name="EMAIL"
                                                placeholder="Địa chỉ email của bạn ở đây"
                                                required>
                                            <button
                                                class="btn btn-medium btn-primary text-uppercase btn-rounded-none"
                                                type="submit"
                                                name="subscribe">Đăng
                                                ký</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <%- include('../include/footer2.ejs') %>

        <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const fanpageButton = document.getElementById("fanpageButton");
                    var leftImage = document.getElementById("left");
                    var rightImage = document.getElementById("right");
                    var footer = document.getElementById("footer");

                    fanpageButton.addEventListener("click", function() {
                        // Thay thế "URL_FANPAGE_FACEBOOK_CUA_BAN" bằng đường dẫn fanpage của bạn
                        window.location.href = "https://www.messenger.com/t/110013628554676/";
                    });

                    leftImage.style.transition = "bottom 0.3s ease-in-out";
                    rightImage.style.transition = "bottom 0.3s ease-in-out";

                    window.addEventListener("scroll", function() {
                        var footerPosition = footer.getBoundingClientRect();
                        var imagePosition = leftImage.getBoundingClientRect();

                        // Kiểm tra nếu hình ảnh gần phần footer
                        if (imagePosition.bottom >= footerPosition.top) {

                            leftImage.style.bottom = "60%";
                            rightImage.style.bottom = "60%";
                        } else {
                            // Nếu không, đặt lại vị trí của hình ảnh
                            leftImage.style.bottom = "35%";
                            rightImage.style.bottom = "35%";
                        }
                    });
                });
                document.addEventListener('DOMContentLoaded', function() {
                    const searchInput = document.getElementById('search-input');

                    searchInput.addEventListener('input', function() {
                        if (searchInput.value.length > 0) {
                            searchInput.classList.add('has-content');
                        } else {
                            searchInput.classList.remove('has-content');
                        }
                    });

                    searchInput.addEventListener('click', function(event) {
                        if (event.target === searchInput) {
                            const clearIcon = getComputedStyle(searchInput, '::after').content;
                            if (clearIcon === '"×"') {
                                searchInput.value = '';
                                searchInput.dispatchEvent(new Event('input')); // Để cập nhật hiển thị dấu x
                                searchInput.focus(); // Đặt lại tiêu điểm cho ô nhập liệu
                            }
                        }
                    });
                });
            </script>
        <script>
                function makeCall() {
                    event.preventDefault();
                    // Thay đổi số điện thoại dưới đây bằng số điện thoại thực tế
                    var phoneNumber = "0816354354";

                    // Kiểm tra xem trình duyệt có hỗ trợ gọi điện không
                    if ("contacts" in navigator && "ContactsManager" in window) {
                        // Sử dụng API Contacts để gọi điện
                        navigator.contacts.select(["phone"]).then(contacts => {
                            // Gọi điện đến số điện thoại đã được chỉ định
                            contacts.forEach(contact => {
                                contact.phoneNumbers.forEach(phone => {
                                    if (phone.value === phoneNumber) {
                                        contact.pick();
                                    }
                                });
                            });
                        });
                    } else {
                        // Mở giao diện gọi điện của trình duyệt
                        window.location.href = "tel:" + phoneNumber;
                    }
                }
                document.addEventListener("DOMContentLoaded", function() {
                    const callA = document.getElementById("callA");

                    if (callA) {
                        callA.addEventListener("click", makeCall);
                    }
                });
            </script>
        <script>
                function encodeSpecialCharacters(name) {
                    // Thay thế các kí tự đặc biệt bằng dấu -
                    const replacedName = name.replace(/[^\w\s]/gi, '-');
                    // Mã hóa tên sản phẩm và trả về
                    return encodeURIComponent(replacedName);
                }
                var swiper = new Swiper('.swiper-container', {
                    // Cấu hình Swiper tại đây
                    // Ví dụ:
                    slidesPerView: 1,
                    spaceBetween: 10,
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                });
            </script>
        <script>
                function showSuccessDialog() {
                    event.preventDefault();
                    // Hiển thị dialog thành công
                    var dialog = document.getElementById('successDialog');
                    dialog.style.display = 'block';
                }

                function hideDialog() {
                    // Ẩn dialog
                    event.preventDefault();
                    var dialog = document.getElementById('successDialog');
                    dialog.style.display = 'none';
                }

                function showSuccessDialogxemthem() {
                    event.preventDefault();
                    // Hiển thị dialog thành công
                    var dialog = document.getElementById('dialogxemthem');
                    dialog.style.display = 'block';
                }

                function hideDialogxemthem() {
                    // Ẩn dialog
                    event.preventDefault();
                    var dialog = document.getElementById('dialogxemthem');
                    dialog.style.display = 'none';
                }

                function showSendingMessage() {
                    document.getElementById("sendingMessage").style.display = "block"; // Hiển thị dòng văn bản "Đang gửi đánh giá, vui lòng đợi giây lát..."
                }
            </script>
        <script>
                let selectedRating = 0;

                document.querySelectorAll('.star').forEach(star => {
                    star.addEventListener('click', () => {
                        const value = parseInt(star.getAttribute('data-value'));
                        if (value === selectedRating + 1) {
                            selectedRating = value;
                        } else {
                            selectedRating = value - 1; // Xóa chọn sao nếu nhấp vào sao đã chọn trước đó
                        }
                        updateRating();
                    });
                });

                function updateRating() {
                    document.querySelectorAll('.star').forEach((star, index) => {
                        if (index < selectedRating) {
                            star.style.color = '#ff0'; // Yellow color for selected stars
                        } else {
                            star.style.color = '#ccc'; // Gray color for unselected stars
                        }
                    });
                    document.getElementById('ratingInput').value = selectedRating; // Update hidden input value
                }
            </script>
        <script src="/js/jquery-1.11.0.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script type="text/javascript"
            src="/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/plugins.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    </body>

</html>