<!DOCTYPE html>
<html>

<head>
    <title>BẢO MINH STORE</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="nXHafPjzQbcCTlbBFFc2qAA5CB95CzOEyv7uDEGgbpk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="Giới Thiệu" content="">
    <link rel="shortcut icon" type="x-icon" href="/images/banner-image1.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KB5DNX5V');
    </script>
    <!-- End Google Tag Manager -->
    <!-- link icon -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        @media only screen and (max-width: 700px) {
            .message-button {
                background-color: #3498db;
                color: white;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: fixed;
                bottom: 70px;
                right: 70px;
            }
            .facezalo {
                position: fixed;
                right: 5%;
                bottom: 10%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 3;
            }
            .anhfacezalo {
                width: 50%;
                height: 50%;
                margin-top: 20%;
                animation: shake 1s infinite alternate;
                /* Sử dụng animation với tên 'shake', thời gian 0.5s, lặp lại vô hạn và chuyển động xen kẽ */
                transform-origin: center;
                /* Đặt điểm xoay tại trung tâm của ảnh */
            }
            @keyframes shake {
                0% {
                    transform: rotate(-10deg);
                    /* Góc xoay ban đầu */
                }
                50% {
                    transform: rotate(10deg);
                    /* Góc xoay giữa chừng */
                }
                100% {
                    transform: rotate(-10deg);
                    /* Góc xoay kết thúc */
                }
            }
            @keyframes expand {
                0% {
                    transform: scale(1);
                    /* Kích thước ban đầu */
                    opacity: 1;
                    /* Độ mờ ban đầu */
                }
                50% {
                    transform: scale(1.1);
                    /* Kích thước tăng lên */
                    opacity: 0.75;
                    /* Giảm độ mờ */
                }
                100% {
                    transform: scale(1);
                    /* Kích thước tăng lên */
                    opacity: 1;
                    /* Ẩn đi */
                }
            }
            .anhfz {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 80, 247);
                width: 60px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 60px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .anhdt {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 247, 13);
                width: 60px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 60px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            body {
                background-color: aliceblue;
                background-image: none;
            }
            .anh {
                width: 100%;
                height: auto;
            }
            .btnsp {
                margin-right: 50%;
                max-width: 100%;
                justify-items: center;
            }
            .btnsp2 {
                font-size: 5px;
                margin-right: 2%;
            }
            .thanhphan {
                font-size: 11px;
                max-width: 90%;
            }
            .divbtn {
                margin-left: 2%;
                padding: 30%;
            }
            .btmua {
                max-height: 65%;
            }
            .divimgsale {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            .imgsale {
                max-width: 100%;
                max-height: auto;
            }
            .name {
                font-size: 110%;
            }
            .price {
                color: #3498db;
                font-size: 110%;
            }
            @keyframes shake {
                0% {
                    transform: translate(0, 0);
                }
                10% {
                    transform: translate(-5px, 0);
                }
                20% {
                    transform: translate(5px, 0);
                }
                30% {
                    transform: translate(-5px, 0);
                }
                40% {
                    transform: translate(5px, 0);
                }
                50% {
                    transform: translate(-5px, 0);
                }
                60% {
                    transform: translate(5px, 0);
                }
                70% {
                    transform: translate(-5px, 0);
                }
                80% {
                    transform: translate(5px, 0);
                }
                90% {
                    transform: translate(-5px, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
        }
        
        @media only screen and (min-width: 701px) {
            .message-button {
                background-color: #3498db;
                color: white;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: fixed;
                bottom: 70px;
                right: 70px;
            }
            .facezalo {
                position: fixed;
                bottom: 10%;
                right: 2%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 3;
            }
            .anhfacezalo {
                width: 56%;
                height: 56%;
                margin-top: 20%;
                animation: shake 1s infinite alternate;
                /* Sử dụng animation với tên 'shake', thời gian 0.5s, lặp lại vô hạn và chuyển động xen kẽ */
                transform-origin: center;
                /* Đặt điểm xoay tại trung tâm của ảnh */
            }
            @keyframes shake {
                0% {
                    transform: rotate(-10deg);
                    /* Góc xoay ban đầu */
                }
                50% {
                    transform: rotate(10deg);
                    /* Góc xoay giữa chừng */
                }
                100% {
                    transform: rotate(-10deg);
                    /* Góc xoay kết thúc */
                }
            }
            @keyframes expand {
                0% {
                    transform: scale(1);
                    /* Kích thước ban đầu */
                    opacity: 1;
                    /* Độ mờ ban đầu */
                }
                50% {
                    transform: scale(1.1);
                    /* Kích thước tăng lên */
                    opacity: 0.75;
                    /* Giảm độ mờ */
                }
                100% {
                    transform: scale(1);
                    /* Kích thước tăng lên */
                    opacity: 1;
                    /* Ẩn đi */
                }
            }
            .anhfz {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 80, 247);
                width: 70px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 70px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .anhdt {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 247, 13);
                width: 70px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 70px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .name {
                font-size: 150%;
            }
            .divimgsale {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
            }
            .imgsale {
                max-width: 100%;
                max-height: auto;
            }
            .price {
                color: #3498db;
                font-size: 150%;
            }
            body {
                background-color: aliceblue;
                background-image: none;
            }
            .anh {
                width: 270px;
                height: 310px;
            }
            .btnsp {
                max-width: 85%;
                justify-items: center;
            }
            .btnsp2 {
                font-size: 10px;
                margin-right: 2%;
            }
            .thanhphan {
                max-width: 90%;
            }
            .divbtn {
                margin-left: 5%;
                padding: 30%;
            }
            .btmua {
                font-size: 10px;
                max-height: 70%;
            }
            @keyframes shake {
                0% {
                    transform: translate(0, 0);
                }
                10% {
                    transform: translate(-5px, 0);
                }
                20% {
                    transform: translate(5px, 0);
                }
                30% {
                    transform: translate(-5px, 0);
                }
                40% {
                    transform: translate(5px, 0);
                }
                50% {
                    transform: translate(-5px, 0);
                }
                60% {
                    transform: translate(5px, 0);
                }
                70% {
                    transform: translate(-5px, 0);
                }
                80% {
                    transform: translate(5px, 0);
                }
                90% {
                    transform: translate(-5px, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
        }
    </style>
    <!-- script
    ================================================== -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16700715907"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-16700715907');
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB5DNX5V"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="facezalo">
        <div class="anhfz">
            <img class="anhfacezalo" id="fanpageButton" src="https://cdn-icons-png.flaticon.com/512/1617/1617222.png" alt="">
        </div>

        <div class="anhdt">
            <img class="anhfacezalo" src="https://freeiconshop.com/wp-content/uploads/edd/phone-flat.png" alt="" onclick="makeCall()">
        </div>
    </div>

    <%- include('../include/header2.ejs') %>

        <section class="hero-section position-relative bg-light-blue padding-medium">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="text-center padding-large no-padding-bottom">
                            <h1 class="display-2 text-uppercase text-dark">Shop</h1>
                            <div class="breadcrumbs">
                                <span class="item">
                <a href="/">Trang Chủ ></a>
              </span>
                                <span class="item">Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divimgsale">
            <img class="imgsale" src="/images/banner4.png" alt="">
        </div>
        <div class="shopify-gridlarge">
            <div class="container">
                <div class="row">
                    <main class="col-md-9">
                        <div class="filter-shop d-flex justify-content-between">
                            <div class="showing-product">
                                <p>Tất cả kết quả</p>
                            </div>
                            <div class="sort-by">
                                <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                <option value="">Sắp xếp sản phẩm</option>
                <option value="">Theo tên (A - Z)</option>
                <option value="">Theo tên (Z - A)</option>
                <option value="">Theo giá (Thấp - Cao)</option>
                <option value="">heo giá (Cao - Thấp)</option>
                <option value="">Đánh giá (Cao nhất)</option>
                <option value="">Đánh giá (Thấp nhất)</option>
                <option value="">Thông số (A - Z)</option>
                <option value="">Thông số (Z - A)</option>
              </select>
                            </div>
                        </div>
                        <div class="product-content product-store d-flex justify-content-between flex-wrap overflow-hidden">
                            <% chitiet.forEach((product) => { %>
                                <div style="width: 30%;" class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="product-card position-relative ">
                                        <div class="image-holder">
                                            <img src="data:image/jpeg;base64,<%= product.image %>" alt="product-item" class="img-fluid anh">
                                        </div>
                                        <div class="divbtn cart-concern position-absolute btnsp">
                                            <div class="cart-button d-flex btnsp2">
                                                <a href="/getchitiet/<%= encodeURIComponent(product.name).replace(/%20/g, '-').replace(/%25/g, 'pt') %>/<%= encodeURIComponent(nameloaisp).replace(/%20/g, '-').replace(/%25/g, 'pt') %>" class="btn btn-medium btn-danger btmua">Chi tiết</a>
                                                <p onclick="makeCall()" class="btn btn-medium btn-danger btmua">Mua ngay</p>
                                            </div>
                                        </div>
                                        <div class="card-detail text-center justify-content-between align-items-baseline pt-3 thanhphan">
                                            <h6 class="name">
                                                <a href="#">
                                                    <%= product.name %>
                                                </a>
                                            </h6>
                                            <h6 class="item-price text-danger price text-wrap">
                                                <%= product.price %>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>

                        <nav class="navigation paging-navigation text-center" role="navigation">
                            <div class="pagination loop-pagination d-flex justify-content-center align-items-center">
                                <% if (currentPage > 1) { %>
                                    <a href="?page=<%= currentPage - 1 %>">
                                        <svg class="chevron-left pe-3">
                    <use xlink:href="#chevron-left"></use>
                </svg>
                                    </a>
                                    <% } %>

                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <a class="page-numbers <%= currentPage === i ? 'current pe-3' : 'pe-3' %>" href="?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                            <% } %>

                                                <% if (currentPage < totalPages) { %>
                                                    <a href="?page=<%= currentPage + 1 %>">
                                                        <svg class="chevron-right ps-3">
                    <use xlink:href="#chevron-right"></use>
                </svg>
                                                    </a>
                                                    <% } %>
                            </div>
                        </nav>

                    </main>
                    <aside class="col-md-3">
                        <div class="sidebar">
                            <div class="widget-menu">
                                <div class="widget-search-bar">
                                    <form role="search" method="get" class="d-flex">
                                        <input class="search-field" placeholder="Search" type="search">
                                        <div class="search-icon bg-dark">
                                            <a href="#">
                                                <svg class="search text-light">
                        <use xlink:href="#search"></use>
                      </svg>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget-product-categories pt-5">
                                <h5 class="widget-title text-decoration-underline text-uppercase">Thể loại</h5>
                                <ul class="product-categories sidebar-list list-unstyled">
                                    <li class="cat-item"></li>
                                    <a href="/" style="font-size: 20px;">Tất cả</a>
                                    </li>
                                    <% tenloai.forEach((tl) => { %>
                                        <li class="cat-item">
                                            <a href="/getspchitiet/<%= encodeURIComponent(tl.name).replace(/%20/g, '-') %>">
                                                <%= tl.name %>
                                            </a>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                            <div class="widget-product-brands pt-3">
                                <h5 class="widget-title text-decoration-underline text-uppercase">Thương hiệu</h5>
                                <ul class="product-tags sidebar-list list-unstyled">
                                    <li class="tags-item">
                                        <a href="">Apple</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <section id="subscribe" class="container-grid padding-small position-relative overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                        <div class="col-md-6 col-sm-12">
                            <div class="display-header pe-3">
                                <h2 class="display-7 text-uppercase text-light">Đăng ký cho chúng tôi ngay</h2>
                                <p>
                                    Nhận tin tức mới nhất, cập nhật và giao dịch được gửi trực tiếp đến hộp thư đến của bạn.</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <form class="subscription-form validate">
                                <div class="input-group flex-wrap">
                                    <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Địa chỉ email của bạn ở đây" required="">
                                    <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="instagram" class="padding-large overflow-hidden no-padding-top">
            <div class="container">
                <div class="row">
                    <div class="display-header text-uppercase text-dark text-center pb-3">
                        <h2 class="display-7">Mua trên trang Facebook của chúng tôi</h2>
                    </div>
                    <div class="d-flex flex-wrap">
                        <figure class="instagram-item pe-2">
                            <a href="https://templatesjungle.com/" class="image-link position-relative">
                                <img src="/images/insta-item1.jpg" alt="instagram" class="insta-image">
                                <div class="icon-overlay position-absolute d-flex justify-content-center">
                                    <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
                                </div>
                            </a>
                        </figure>
                        <figure class="instagram-item pe-2">
                            <a href="https://templatesjungle.com/" class="image-link position-relative">
                                <img src="/images/insta-item2.jpg" alt="instagram" class="insta-image">
                                <div class="icon-overlay position-absolute d-flex justify-content-center">
                                    <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
                                </div>
                            </a>
                        </figure>
                        <figure class="instagram-item pe-2">
                            <a href="https://templatesjungle.com/" class="image-link position-relative">
                                <img src="/images/insta-item3.jpg" alt="instagram" class="insta-image">
                                <div class="icon-overlay position-absolute d-flex justify-content-center">
                                    <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
                                </div>
                            </a>
                        </figure>
                        <figure class="instagram-item pe-2">
                            <a href="https://templatesjungle.com/" class="image-link position-relative">
                                <img src="/images/insta-item4.jpg" alt="instagram" class="insta-image">
                                <div class="icon-overlay position-absolute d-flex justify-content-center">
                                    <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
                                </div>
                            </a>
                        </figure>
                        <figure class="instagram-item pe-2">
                            <a href="https://templatesjungle.com/" class="image-link position-relative">
                                <img src="/images/insta-item5.jpg" alt="instagram" class="insta-image">
                                <div class="icon-overlay position-absolute d-flex justify-content-center">
                                    <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
                                </div>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/footer2.ejs') %>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const fanpageButton = document.getElementById("fanpageButton");

                    fanpageButton.addEventListener("click", function() {
                        // Thay thế "URL_FANPAGE_FACEBOOK_CUA_BAN" bằng đường dẫn fanpage của bạn
                        window.location.href = "https://www.facebook.com/messages/t/102425705973353/";
                    });
                });
            </script>
            <script>
                function makeCall() {
                    event.preventDefault();
                    // Thay đổi số điện thoại dưới đây bằng số điện thoại thực tế
                    var phoneNumber = "0833354354";

                    // Kiểm tra xem trình duyệt có hỗ trợ gọi điện không
                    if ("contacts" in navigator && "ContactsManager" in window) {
                        // Sử dụng API Contacts để gọi điện
                        navigator.contacts.select(["phone"]).then(contacts => {
                            // Gọi điện đến số điện thoại đã được chỉ định
                            contacts.forEach(contact => {
                                contact.phoneNumbers.forEach(phone => {
                                    if (phone.value === phoneNumber) {
                                        contact.pick();
                                    }
                                });
                            });
                        });
                    } else {
                        // Mở giao diện gọi điện của trình duyệt
                        window.location.href = "tel:" + phoneNumber;
                    }
                }
                document.addEventListener("DOMContentLoaded", function() {
                    const callA = document.getElementById("callA");

                    if (callA) {
                        callA.addEventListener("click", makeCall);
                    }
                });
            </script>
            <script src="/js/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="/js/plugins.js"></script>
            <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>