<!DOCTYPE html>
<html>

<head>
    <title>
        <%= nameloai %> - GIÁ RẺ NHẤT HÀ NỘI
    </title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="nXHafPjzQbcCTlbBFFc2qAA5CB95CzOEyv7uDEGgbpk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="<%= namesp %>">
    <link rel="shortcut icon" type="x-icon" href="/images/banner-image1.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PNXD3PWT');
    </script>
    <!-- End Google Tag Manager -->
    <!-- script
    ================================================== -->
    <style>
        @media only screen and (max-width: 700px) {
            .nav-search {
                display: block;
            }
            body.no-scroll {
                overflow: hidden;
                /* Ẩn cuộn cho trang */
            }
            .message-button {
                background-color: #3498db;
                color: white;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: fixed;
                bottom: 70px;
                right: 70px;
            }
            /* Thiết lập hiệu ứng lắc lắc rung rung */
            .message-button:hover {
                animation: shake 0.5s;
            }
            .facezalo {
                position: fixed;
                right: 5%;
                bottom: 10%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 3;
            }
            .anhfacezalo {
                width: 50%;
                height: 50%;
                margin-top: 20%;
                animation: shake 1s infinite alternate;
                /* Sử dụng animation với tên 'shake', thời gian 0.5s, lặp lại vô hạn và chuyển động xen kẽ */
                transform-origin: center;
                /* Đặt điểm xoay tại trung tâm của ảnh */
            }
            @keyframes shake {
                0% {
                    transform: rotate(-10deg);
                    /* Góc xoay ban đầu */
                }
                50% {
                    transform: rotate(10deg);
                    /* Góc xoay giữa chừng */
                }
                100% {
                    transform: rotate(-10deg);
                    /* Góc xoay kết thúc */
                }
            }
            @keyframes expand {
                0% {
                    transform: scale(1);
                    /* Kích thước ban đầu */
                    opacity: 1;
                    /* Độ mờ ban đầu */
                }
                50% {
                    transform: scale(1.1);
                    /* Kích thước tăng lên */
                    opacity: 0.75;
                    /* Giảm độ mờ */
                }
                100% {
                    transform: scale(1);
                    /* Kích thước tăng lên */
                    opacity: 1;
                    /* Ẩn đi */
                }
            }
            .anhfz {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 80, 247);
                width: 60px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 60px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .anhdt {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 247, 13);
                width: 60px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 60px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            body {
                background-color: aliceblue;
                background-image: none;
            }
            .sanpham {
                width: 100%;
                height: 100%;
            }
            .anh {
                width: 290px;
                height: auto;
            }
            .nameh3 {
                margin-left: 5%;
            }
            .ptragop {
                color: aliceblue;
                margin-top: 10%;
            }
            .tragop {
                padding-left: 3%;
                padding-right: 3%;
                background-color: #fcc603;
                border-radius: 10px;
            }
            .hrname {
                margin-left: 5%;
                margin-right: 5%;
            }
            .pricestrong {
                color: #f70e0e;
            }
            .product-preview {
                width: 100%;
            }
            .khuyenmai {
                border-radius: 10px;
                width: auto;
                height: auto;
                border: 1px solid #ffb6b6;
            }
            .loai {
                max-width: 100%;
                margin-bottom: 3%;
                flex-wrap: wrap;
            }
            .divloai {
                border: 1px solid #f86e6e;
                border-radius: 10px;
                width: 30%;
                padding: 3%;
                margin-right: 3%;
                flex-wrap: wrap;
                margin-top: 2%;
                justify-content: center;
                cursor: pointer;
            }
            .divconloai {
                margin-left: 5%;
                flex: 1;
            }
            .strongloai {
                font-size: 100%;
            }
            .strongloai2 {
                font-size: 100%;
                color: #f70e0e;
            }
            .topkhuyenmai {
                padding: 2%;
                background-color: #ffb6b6;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .dbodykhuyenmai {
                width: 30px;
                height: 25px;
                border-radius: 50%;
                background-color: #f80909;
                padding-bottom: 1%;
                margin-top: 0.01%;
            }
            .pbodykhuyenmai {
                margin-left: 2%;
                color: black;
                flex: 1;
            }
            .baohanh {
                padding: 2%;
                margin-top: 2%;
                border-radius: 10px;
                width: auto;
                height: auto;
                border: 1px solid #9a9a9a;
            }
            .ibaohanh {
                color: #f70e0e;
                margin-top: 1%;
            }
            .pbaohanh {
                margin-left: 2%;
                flex: 1;
                color: black;
            }
            .btnmua {
                margin-top: 2%;
                border-radius: 10px;
                width: auto;
                height: auto;
            }
            .muangay {
                border-radius: 5px;
                width: 50%;
                height: auto;
                padding: 1%;
                background-color: #f70e0e;
                text-align: center;
            }
            .muatragop {
                border-radius: 5px;
                width: 50%;
                height: auto;
                padding: 1%;
                background-color: #f48907;
                text-align: center;
            }
            .section {
                padding: 2%;
                background-color: rgb(251, 254, 255);
                width: 100%;
                margin: 0 auto;
                margin-top: 2%;
            }
            #selling-product {
                padding-bottom: 2%;
                background-color: rgb(251, 254, 255);
                width: 100%;
                margin: 0 auto;
                margin-top: 70px;
                padding-left: 5%;
            }
            .bodykhuyenmai {
                padding: 2%;
            }
            .thongso {
                padding: 2%;
                background-color: rgb(251, 254, 255);
                width: 90%;
                margin: 0 auto;
                margin-top: 2%;
            }
            .pthongso {
                background-color: #e3e3e3;
                color: black;
                padding: 1%;
            }
            .pthongso2 {
                color: black;
                padding: 1%;
            }
            .pthongso3 {
                background-color: #e3e3e3;
                color: black;
                padding: 1%;
                max-height: 100px;
                overflow: hidden;
            }
            .fullthongtin {
                max-height: 145px;
                overflow: hidden;
            }
            #toggle-button {
                width: 100%;
                font-size: 20px;
                border: #3498db 1px solid;
                color: #3498db;
                background-color: #fff9f9;
            }
            .modal {
                display: none;
                /* Ẩn modal mặc định */
                position: fixed;
                z-index: 10;
                width: 100%;
                height: 100%;
                background-color: #fefefe;
                overflow-y: auto;
                margin: 0 auto;
                padding: 5%;
                font-size: 15px;
            }
            #modalContent {
                color: black;
            }
            .close {
                color: #f70404;
                float: right;
                font-size: 40px;
                font-weight: bold;
                position: fixed;
                /* Đổi từ fixed sang absolute */
                top: 0;
                /* Điều chỉnh vị trí */
                right: 5px;
            }
            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            @keyframes shake {
                0% {
                    transform: translate(0, 0);
                }
                10% {
                    transform: translate(-5px, 0);
                }
                20% {
                    transform: translate(5px, 0);
                }
                30% {
                    transform: translate(-5px, 0);
                }
                40% {
                    transform: translate(5px, 0);
                }
                50% {
                    transform: translate(-5px, 0);
                }
                60% {
                    transform: translate(5px, 0);
                }
                70% {
                    transform: translate(-5px, 0);
                }
                80% {
                    transform: translate(5px, 0);
                }
                90% {
                    transform: translate(-5px, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
            .itemMobile {
                display: block;
            }
            .itemMobile2 {
                display: none;
            }
            .ql-align-center {
                text-align: center;
            }
            .ql-align-center img {
                text-align: center;
                width: 100%;
                height: 100%;
            }
            .selected {
                border: 2px solid #0064fa;
                /* Màu viền khi được chọn */
                color: #007ef5;
                /* Màu chữ khi được chọn */
            }
            .color-circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #ccc;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: border 0.3s ease;
            }
            .color-circle-inner {
                width: 80%;
                height: 80%;
                border-radius: 50%;
            }
            .color-circle:hover {
                border-color: #000;
            }
            .color-circle.selected {
                border-color: #000;
            }
            .color-circle-inner {
                background-color: #ddd;
                /* Default color */
            }
            .selected1 {
                border-color: #000;
            }
        }
        
        @media only screen and (min-width: 701px) {
            .nav-search {
                display: none;
            }
            .message-button {
                background-color: #3498db;
                color: white;
                border: none;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: fixed;
                bottom: 70px;
                right: 70px;
            }
            /* Thiết lập hiệu ứng lắc lắc rung rung */
            .message-button:hover {
                animation: shake 0.5s;
            }
            .facezalo {
                position: fixed;
                bottom: 10%;
                right: 2%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 3;
            }
            .anhfacezalo {
                width: 56%;
                height: 56%;
                margin-top: 20%;
                animation: shake 1s infinite alternate;
                /* Sử dụng animation với tên 'shake', thời gian 0.5s, lặp lại vô hạn và chuyển động xen kẽ */
                transform-origin: center;
                /* Đặt điểm xoay tại trung tâm của ảnh */
            }
            @keyframes shake {
                0% {
                    transform: rotate(-10deg);
                    /* Góc xoay ban đầu */
                }
                50% {
                    transform: rotate(10deg);
                    /* Góc xoay giữa chừng */
                }
                100% {
                    transform: rotate(-10deg);
                    /* Góc xoay kết thúc */
                }
            }
            @keyframes expand {
                0% {
                    transform: scale(1);
                    /* Kích thước ban đầu */
                    opacity: 1;
                    /* Độ mờ ban đầu */
                }
                50% {
                    transform: scale(1.1);
                    /* Kích thước tăng lên */
                    opacity: 0.75;
                    /* Giảm độ mờ */
                }
                100% {
                    transform: scale(1);
                    /* Kích thước tăng lên */
                    opacity: 1;
                    /* Ẩn đi */
                }
            }
            .anhfz {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 80, 247);
                width: 70px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 70px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            .anhdt {
                position: relative;
                text-align: center;
                margin-top: 20%;
                background-color: rgb(9, 247, 13);
                width: 70px;
                /* Đảm bảo chiều rộng và chiều cao bằng nhau */
                height: 70px;
                border-radius: 50%;
                /* Biến hình thành hình tròn */
                animation: expand 2s infinite;
                display: inline-block;
            }
            body {
                background-color: aliceblue;
                background-image: none;
            }
            .sanpham {
                width: 400px;
                height: 470px;
            }
            .anh {
                width: 270px;
                height: 310px;
            }
            .nameh3 {
                margin-left: 5%;
            }
            .ptragop {
                color: aliceblue;
                margin-top: 10%;
            }
            .tragop {
                padding-left: 3%;
                padding-right: 3%;
                background-color: #fcc603;
                border-radius: 10px;
            }
            .hrname {
                margin-left: 5%;
                margin-right: 5%;
            }
            .pricestrong {
                color: #f70e0e;
            }
            .product-preview {
                width: 500px;
            }
            .khuyenmai {
                border-radius: 10px;
                width: auto;
                height: auto;
                border: 1px solid #ffb6b6;
            }
            .loai {
                max-width: 100%;
                margin-bottom: 3%;
                flex-wrap: wrap;
            }
            .divloai {
                border: 1px solid #f86e6e;
                border-radius: 10px;
                width: 30%;
                padding-left: 1%;
                padding-right: 1%;
                padding-top: 1%;
                padding-bottom: 1%;
                margin-right: 3%;
                flex-wrap: wrap;
                margin-top: 2%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                justify-content: center;
                cursor: pointer;
            }
            .divconloai {
                margin-left: 5%;
                flex: 1;
            }
            .strongloai {
                font-size: 140%;
            }
            .strongloai2 {
                font-size: 140%;
                color: #f70e0e;
            }
            .topkhuyenmai {
                padding: 2%;
                background-color: #ffb6b6;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .dbodykhuyenmai {
                width: 30px;
                height: 25px;
                border-radius: 50%;
                background-color: #f80909;
                padding-bottom: 1%;
                margin-top: 0.01%;
            }
            .pbodykhuyenmai {
                margin-left: 2%;
                color: black;
                flex: 1;
            }
            .baohanh {
                padding: 2%;
                margin-top: 2%;
                border-radius: 10px;
                width: auto;
                height: auto;
                border: 1px solid #9a9a9a;
            }
            .ibaohanh {
                color: #f70e0e;
                margin-top: 1%;
            }
            .pbaohanh {
                margin-left: 2%;
                flex: 1;
                color: black;
            }
            .btnmua {
                margin-top: 2%;
                border-radius: 10px;
                width: auto;
                height: auto;
            }
            .muangay {
                border-radius: 5px;
                width: 50%;
                height: auto;
                padding: 1%;
                background-color: #3498db;
                text-align: center;
            }
            .muatragop {
                border-radius: 5px;
                width: 50%;
                height: auto;
                padding: 1%;
                background-color: #00cf0a;
                text-align: center;
            }
            .section {
                padding: 2%;
                background-color: rgb(251, 254, 255);
                width: 90%;
                margin: 0 auto;
                margin-top: 2%;
            }
            #selling-product {
                padding-left: 10%;
                padding-right: 10%;
                padding-bottom: 2%;
                background-color: rgb(251, 254, 255);
                width: 90%;
                margin: 0 auto;
                margin-top: 60px;
            }
            .bodykhuyenmai {
                padding: 2%;
            }
            body.no-scroll {
                overflow: hidden;
                /* Ẩn cuộn cho trang */
            }
            .thongso {
                padding: 2%;
                background-color: rgb(251, 254, 255);
                width: 90%;
                margin: 0 auto;
                margin-top: 2%;
            }
            .pthongso {
                background-color: #e3e3e3;
                color: black;
                padding: 1%;
            }
            .pthongso2 {
                color: black;
                padding: 1%;
            }
            .pthongso3 {
                background-color: #e3e3e3;
                color: black;
                padding: 1%;
                max-height: 100px;
                overflow: hidden;
            }
            .fullthongtin {
                max-height: 120px;
                overflow: hidden;
            }
            .pthongso3.show-more {
                max-height: none;
                /* Hiển thị toàn bộ nội dung */
            }
            #toggle-button {
                width: 100%;
                font-size: 20px;
                border: #3498db 1px solid;
                color: #3498db;
                background-color: #fff9f9;
            }
            /* Lớp phủ toàn màn hình */
            .fullmodal {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9;
                display: none;
            }
            .modal {
                display: none;
                position: relative;
                width: 100%;
                max-width: 80%;
                left: 10%;
                background-color: #fefefe;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }
            /* Nội dung modal */
            #modalContent {
                color: black;
                font-size: 15px;
            }
            /* Nút đóng modal */
            .close {
                color: #f70404;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
            }
            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            @keyframes shake {
                0% {
                    transform: translate(0, 0);
                }
                10% {
                    transform: translate(-5px, 0);
                }
                20% {
                    transform: translate(5px, 0);
                }
                30% {
                    transform: translate(-5px, 0);
                }
                40% {
                    transform: translate(5px, 0);
                }
                50% {
                    transform: translate(-5px, 0);
                }
                60% {
                    transform: translate(5px, 0);
                }
                70% {
                    transform: translate(-5px, 0);
                }
                80% {
                    transform: translate(5px, 0);
                }
                90% {
                    transform: translate(-5px, 0);
                }
                100% {
                    transform: translate(0, 0);
                }
            }
            .itemMobile {
                display: none;
            }
            .itemMobile2 {
                display: block;
            }
            .ql-align-center {
                text-align: center;
            }
            .ql-align-center img {
                text-align: center;
                width: 50%;
                height: 50%;
            }
            #ttin {
                color: black;
            }
            .selected {
                border: 2px solid #0064fa;
                /* Màu viền khi được chọn */
                color: #007ef5;
                /* Màu chữ khi được chọn */
            }
            .color-circle1 {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #ccc;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: border 0.3s ease;
            }
            .color-circle-inner1 {
                width: 80%;
                height: 80%;
                border-radius: 50%;
                background-color: #ddd;
            }
            .color-circle1:hover {
                border-color: #000;
            }
            .color-circle1.selected {
                border-color: #000;
            }
            .selected2 {
                border-color: #000;
            }
        }
    </style>

    <!-- Google tag (gtag.js) -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16700715907"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-16700715907');
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W64QB5Z8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="facezalo">
        <div class="anhfz">
            <img class="anhfacezalo" id="fanpageButton" src="https://cdn-icons-png.flaticon.com/512/1617/1617222.png" alt="">
        </div>

        <div class="anhdt">
            <a href="tel: 0833354354">
                <img class="anhfacezalo" src="https://freeiconshop.com/wp-content/uploads/edd/phone-flat.png" alt="">
            </a>
        </div>
    </div>

    <%- include('../include/header2.ejs') %>

        <section id="selling-product" class="single-product padding-small">
            <h3 itemprop="name" class="display-7 text-uppercase nameh3">
                <%= mangjson.spjson.name %>
            </h3>
            <hr class="hrname" style="opacity: 0.1;">
            <div class="container" style="width: 100%;">
                <div class="row mt-5 justify-content-center w-100">
                    <div class="col-lg-6 product-preview">

                        <div class="product-preview mb-3">
                            <img src="<%= mangjson.spjson.image %>" alt="single-product" class="img-fluid sanpham">
                        </div>
                        <div class="itemMobile">
                            <div class="element-header">
                                <div class="rating-container d-flex align-items-center">
                                    <div class="rating" data-rating="1" onclick=rate(1)>
                                        <svg class="star star-fill">
                    <use xlink:href="#star-fill"></use>
                  </svg>
                                        <span class="rating-count ps-2">5.2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-price pt-3 pb-3 d-flex align-items-center">
                                <strong class="display-6 fw-bold pricestrong1">
                <%= mangjson.spjson.price %>
              </strong>
                                <div class="tragop ms-3">
                                    <p class="ptragop">Trả góp 0%</p>
                                </div>
                            </div>
                            <p>
                                <%= mangjson.spjson.content %>
                            </p>
                            <p>Dung lượng:</p>
                            <div class="d-flex loai">
                                <% mangjson.dungluong.forEach((item, index) => { %>
                                    <div id="dungluong<%= index %>itemmobile" class="d-flex divloai" onclick="showColors1('<%= index %>')">
                                        <strong class="strongdungluong" id="strongdungluong<%= index %>">
                <%= item.name %>
            </strong>
                                    </div>
                                    <% }); %>
                            </div>
                            <p>Màu sắc:</p>
                            <div class="d-flex loai" id="colorContainer1" style="display: none; flex-wrap: wrap;">
                                <% mangjson.dungluong.forEach((item, index) => { %>
                                    <% item.mausac.forEach((row, rowIndex) => { %>
                                        <div class="d-flex colorOption1" data-index="<%= index %>itemmobile" style="display: none;" onclick="showDetails1('<%= item.name %>', '<%= row.mausacmay %>', '<%= rowIndex %>')">
                                            <div id="mausac<%= rowIndex %><%= item.name %>itemmobile" class="color-circle">
                                                <div class="color-circle-inner strongmausac1" style="background-color: <%= row.mausacmay %>">
                                                    <%= row.mausacmay %>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <% }); %>
                            </div>
                            <p>Chi tiết:</p>
                            <div class="d-flex loai" id="detailContainer1" style="display: none;">
                                <% mangjson.dungluong.forEach(item => { %>
                                    <% item.mausac.forEach(row => { %>
                                        <% row.chitiet.forEach((ct, index) => { %>
                                            <div id="chitiet<%= item.name %><%= row.mausacmay %><%= index %>itemmobile" class="d-flex divloai detailOption1" data-color="<%= item.name %><%= row.mausacmay %>itemmobile" data-price="<%= ct.price %>" style="display: none;" onclick="chitietselect1('<%= index %>', '<%= row.mausacmay %>', '<%= item.name %>', '<%= ct.price %>')">
                                                <strong class="strongchitiet">
                        <%= ct.name %>
                    </strong>
                                            </div>
                                            <% }); %>
                                                <% }); %>
                                                    <% }); %>
                            </div>
                        </div>
                        <div class="tab-pane fade show active border-top border-bottom padding-small thongsoo" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <h4 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; margin-bottom: 2%;">THÔNG SỐ
                            </h4>
                            <div>
                                <p class="pthongso">Màn hình:
                                    <%= mangjson.spjson.manhinh %>
                                </p>
                                <p class="pthongso2">Chip:
                                    <%= mangjson.spjson.chip %>
                                </p>
                                <p class="pthongso">Ram:
                                    <%= mangjson.spjson.ram %>
                                </p>
                                <p class="pthongso2">Dung lượng:
                                    <%= mangjson.spjson.dungluong %>
                                </p>
                                <p class="pthongso">Camera sau:
                                    <%= mangjson.spjson.camera %>
                                </p>
                                <p class="pthongso2">Pin:
                                    <%= mangjson.spjson.pinsac %>
                                </p>
                                <p class="pthongso">Cổng sạc:
                                    <%= mangjson.spjson.congsac %>
                                </p>
                                <p class="pthongso2">Hãng:
                                    <%= mangjson.spjson.hang %>
                                </p>
                                <div class="fullthongtin">
                                    <p class="pthongso3" id="product-info">
                                        Thông tin sản phẩm:
                                        <div id="ttin">
                                            <%- mangjson.spjson.thongtin.replace(/\\n/g, "<br>") %>
                                        </div>
                                    </p>
                                </div>
                                <button onclick="toggleProductInfo()" id="toggle-button">Xem thêm</button>
                                <div id="fullModal" class="fullmodal">
                                    <div id="myModal" class="modal">
                                        <span class="close">&times;</span>
                                        <p id="modalContent">
                                            <%- mangjson.spjson.thongtin.replace(/\\n/g, "<br>") %></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 hi">
                        <div class="product-info">
                            <div class="itemMobile2">
                                <div class="element-header">
                                    <div class="rating-container d-flex align-items-center">
                                        <div class="rating" data-rating="1" onclick=rate(1)>
                                            <svg class="star star-fill">
                    <use xlink:href="#star-fill"></use>
                  </svg>
                                            <span class="rating-count ps-2">5.2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-price pt-3 pb-3 d-flex align-items-center">
                                    <strong class="display-6 fw-bold pricemobile2">
                <%= mangjson.spjson.price %>
              </strong>
                                    <div class="tragop ms-3">
                                        <p class="ptragop">Trả góp 0%</p>
                                    </div>
                                </div>
                                <p>Dung lượng:</p>
                                <div class="d-flex loai">
                                    <% mangjson.dungluong.forEach((item, index) => { %>
                                        <div id="dungluong<%= index %>" class="d-flex divloai" onclick="showColors('<%= index %>')">
                                            <strong class="strongdungluong" id="strongdungluong<%= index %>">
                <%= item.name %>
            </strong>
                                        </div>
                                        <% }); %>
                                </div>
                                <p>Màu sắc:</p>
                                <div class="d-flex loai" id="colorContainer" style="display: none; flex-wrap: wrap;">
                                    <% mangjson.dungluong.forEach((item, index) => { %>
                                        <% item.mausac.forEach((row, rowIndex) => { %>
                                            <div class="d-flex colorOption" data-index="<%= index %>" style="display: none;" onclick="showDetails('<%= item.name %>', '<%= row.mausacmay %>','<%= rowIndex %>')">
                                                <div id="mausac<%= rowIndex %><%= item.name %>" class="color-circle1">
                                                    <div class="color-circle-inner1 strongmausac1" style="background-color: <%= row.mausacmay %>">
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                                <% }); %>
                                </div>

                                <p>Chi tiết:</p>
                                <div class="d-flex loai" id="detailContainer" style="display: none;">
                                    <% mangjson.dungluong.forEach(item => { %>
                                        <% item.mausac.forEach(row => { %>
                                            <% row.chitiet.forEach((ct,index) => { %>
                                                <div id="chitiet<%= item.name %><%= row.mausacmay %><%= index %>" class="d-flex divloai detailOption" data-color="<%= item.name %><%= row.mausacmay %>" data-price="<%= ct.price %>" style="display: none;" onclick="chitietselect('<%= index %>','<%= row.mausacmay %>','<%= item.name %>','<%= ct.price %>')">
                                                    <strong class="strongchitiet">
                        <%= ct.name %>
                    </strong>
                                                </div>
                                                <% }); %>
                                                    <% }); %>
                                                        <% }); %>
                                </div>


                                <p>
                                    <%= mangjson.spjson.content %>
                                </p>
                            </div>


                            <div class="cart-wrap">
                                <div class="product-quantity">



                                    <div class="khuyenmai">
                                        <div class="d-flex topkhuyenmai">
                                            <i class="fa fa-gift" style="color: #b40202;"></i>
                                            <h6 style="color: #ae0404; margin-left:3%; font-weight: bold;">SIÊU KHUYẾN MẠI NHẬN QUÀ TẶNG</h6>
                                        </div>
                                        <div class="bodykhuyenmai">
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai ">
                                                    <p style="color: aliceblue; text-align: center;">1</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng thêm quà tặng trị giá 1.750.000đ</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">2</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng tai nghe lightning chính hãng bảo hành 12 tháng khi nâng cấp gói bảo hành</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">3</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng Voucher nghỉ dưỡng Miễn Phí tại khách sạn</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">4</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng cường lực cao cấp
                                                </p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">5</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng ốp lưng cao cấp
                                                </p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">6</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng 100.000₫ cho học sinh,sinh viên Yêu cầu mang thẻ sv</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">7</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng 100.000₫ và Airpods khi mua 2 sản phẩm trở lên.</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">8</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Tặng 200.000₫ khi mua kèm Airpods 2 và Airpods Pro.</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">9</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Ưu đãi đặc biệt cho khách mua trả góp : giảm giá 100k/sản phẩm hoặc tai nghe không dây</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">10</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Hỗ trợ SHIP CODE nhận máy kiểm tra mới phải thanh toán tiền toàn việt nam</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class="dbodykhuyenmai">
                                                    <p style="color: aliceblue; text-align: center;">11</p>
                                                </div>
                                                <p class="pbodykhuyenmai"> Thu cũ đổi mới hỗ trợ giá : 2.500.000đ</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="baohanh">
                                        <h4 style="font-weight: bold; font-family: 'Times New Roman', Times, serif;">BẢO HÀNH:</h4>
                                        <div class="d-flex">
                                            <i class="fa fa-asterisk fa-2xs ibaohanh"></i>
                                            <p class="pbaohanh">* Miễn phí Bảo hành 12 tháng, hỗ trợ bảo hành hãng theo chính sách tại thị trường VN.</p>
                                        </div>
                                        <div class="d-flex">
                                            <i class="fa fa-asterisk fa-2xs ibaohanh"></i>
                                            <p class="pbaohanh">* Bảo hành mở rộng 24 tháng phần cứng + 400k yên tâm sử dụng</p>
                                        </div>
                                        <div class="d-flex">
                                            <i class="fa fa-asterisk fa-2xs ibaohanh"></i>
                                            <p class="pbaohanh">* Phần mềm: Hỗ trợ trọn đời sản phẩm. </p>
                                        </div>
                                    </div>
                                    <div class="btnmua d-flex">
                                        <div onclick="goToFanpage()" class="muangay">
                                            <h5 style="color: aliceblue; font-weight: bold;font-size: 15px;">Nhắn tin Trực tiếp với Fanpage ngay bây giờ để đặt hàng</h5>
                                        </div>
                                        <div onclick="makeCall()" class="muatragop">
                                            <h5 style="color: aliceblue; font-weight: bold;font-size: 15px;"> Gọi điện Trực tiếp cho Cửa hàng để đặt hàng</h5>


                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="product-info-tabs section">
            <div class="container">
                <h4 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; margin-bottom: 2%;">ĐÁNH GIÁ</h4>
                <div class="row">
                    <div class="review-box d-flex flex-wrap">
                        <div class="col-lg-6 d-flex flex-wrap">
                            <div class="col-md-2">
                                <div class="image-holder">
                                    <img src="/images/review-item1.jpg" alt="review" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="review-content">
                                    <div class="rating-container">
                                        <div class="review-header d-flex">
                                            <h4 class="author-name">Nguyễn Sơn Dương</h4>
                                            <h4 class="review-date">– 23/08/2023</h4>
                                        </div>
                                        <p>Mình từng mua 14 PRO MAX ở đây. Cửa hàng bán điện thoại này thực sự ấn tượng. Họ có một loạt các sản phẩm từ hãng apple, đảm bảo rằng bạn sẽ tìm thấy một chiếc điện thoại phù hợp với nhu cầu và ngân sách của mình.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex flex-wrap">
                            <div class="col-md-2">
                                <div class="image-holder">
                                    <img src="/images/review-item2.jpg" alt="review" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="review-content">
                                    <div class="review-header d-flex">
                                        <h4 class="author-name">Nguyễn Thùy Dung</h4>
                                        <h4 class="review-date">– 08/07/2023</h4>
                                    </div>
                                    <p>Máy rất đẹp và bán đúng như giá quảng cáo. Điều tuyệt vời là nhân viên của cửa hàng luôn sẵn sàng tư vấn và giải đáp mọi câu hỏi của bạn, giúp bạn chọn lựa một cách thông minh. Vote 4.5 sao nha!!!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="subscribe" class="container-grid padding-small position-relative overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                        <div class="col-md-6 col-sm-12">
                            <div class="display-header pe-3">
                                <h2 class="display-7 text-uppercase text-light">Đăng ký cho chúng tôi ngay</h2>
                                <p>
                                    Nhận tin tức mới nhất, cập nhật và giao dịch được gửi trực tiếp đến hộp thư đến của bạn.</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <form class="subscription-form validate">
                                <div class="input-group flex-wrap">
                                    <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Địa chỉ email của bạn ở đây" required="">
                                    <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../include/footer2.ejs') %>
            <script>
                function goToFanpage() {
                    window.location.href = "/mess";
                }
                document.addEventListener("DOMContentLoaded", function() {
                    const fanpageButton = document.getElementById("fanpageButton");

                    fanpageButton.addEventListener("click", function() {
                        // Thay thế "URL_FANPAGE_FACEBOOK_CUA_BAN" bằng đường dẫn fanpage của bạn
                        window.location.href = "https://baominhmobile.com/mess";
                    });
                });
            </script>
            <script>
                document.title = '<%= nameloai %>'
                    // Lấy modal
                var modal = document.getElementById("myModal");
                var fullmodal = document.getElementById("fullModal");

                // Lấy nút đóng modal
                var span = document.getElementsByClassName("close")[0];

                // Lấy nút "Xem thêm"
                var readMoreBtn = document.getElementById("toggle-button");

                // Bấm vào nút "Xem thêm"
                readMoreBtn.onclick = function() {
                    modal.style.display = "block"; // Hiển thị modal
                    fullmodal.style.display = "block";
                    document.body.classList.add("no-scroll");

                }

                // Bấm vào nút đóng modal
                span.onclick = function() {
                    modal.style.display = "none"; // Ẩn modal
                    fullmodal.style.display = "none";
                    document.body.classList.remove("no-scroll");
                }

                // Bấm ra ngoài modal để đóng nó
                fullmodal.onclick = function(event) {
                    if (event.target === fullModal) {
                        document.body.classList.remove("no-scroll");
                        fullmodal.style.display = "none";
                        modal.style.display = "none"; // Ẩn modal
                    }
                }

                function truncateText(element, maxLength) {
                    var text = element.innerHTML;
                    if (text.length > maxLength) {
                        element.innerHTML = text.substring(0, maxLength) + "...";
                    }
                }

                var productInfoElement = document.getElementById("ttin");
                truncateText(productInfoElement, 330); // Giới hạn 100 ký tự

                // Thiết lập giá trị ban đầu cho checkbox đầu tiên
                const firstCheckbox = document.querySelector('.inputloai');
                if (firstCheckbox) {
                    const price = parseFloat(firstCheckbox.getAttribute('data-price'));
                    const index = firstCheckbox.getAttribute('data-index');
                    const priceElement = document.querySelector(`.price${index}`);
                    const priceValue = priceElement.textContent.trim();

                    const pricestrong = document.querySelector('.pricestrong');
                    const pricestrong2 = document.querySelector('.pricemobile2');

                    // Đặt giá trị ban đầu cho pricestrong và pricestrong2
                    pricestrong.textContent = priceValue;
                    pricestrong2.textContent = priceValue;
                }

                // Xử lý sự kiện khi checkbox được click
                document.querySelectorAll('.inputloai').forEach(item => {
                    item.addEventListener('click', function() {
                        // Loại bỏ chọn các checkbox khác
                        document.querySelectorAll('.inputloai').forEach(otherCheckbox => {
                            if (otherCheckbox !== this) {
                                otherCheckbox.checked = false;
                            }
                        });

                        const price = parseFloat(this.getAttribute('data-price'));
                        const index = this.getAttribute('data-index');
                        const pricestrong = document.querySelector('.pricestrong');
                        const pricestrong2 = document.querySelector('.pricemobile2');
                        const priceElement = document.querySelector(`.price${index}`);
                        const priceValue = priceElement.textContent.trim();

                        if (this.checked) {
                            pricestrong.textContent = priceValue;
                            pricestrong2.textContent = priceValue;
                        } else {
                            // Khôi phục giá trị ban đầu của pricestrong
                            pricestrong.textContent = pricestrongInitialValue;
                            pricestrong2.textContent = pricestrongInitialValue2;
                        }
                    });
                });
            </script>

            <script>
                let currentDungluong = null;
                let currentMausac = null;
                let currentChitiet = 0;
                let currentColor = '';

                function showColors(index) {
                    const colorOptions = document.querySelectorAll('.colorOption');
                    colorOptions.forEach(option => {
                        option.style.display = 'none';
                        option.classList.remove('selected');
                    });

                    const selectedColorOptions = document.querySelectorAll(`.colorOption[data-index="${index}"]`);
                    selectedColorOptions.forEach(option => {
                        option.style.display = 'flex';
                    });

                    document.getElementById('colorContainer').style.display = 'flex';
                    document.getElementById('detailContainer').style.display = 'none';

                    if (currentDungluong !== null) {
                        const previousDungluong = document.getElementById(`dungluong${currentDungluong}`);
                        if (previousDungluong) {
                            previousDungluong.classList.remove('selected');
                        }
                    }

                    const dungluongOption = document.getElementById(`dungluong${index}`);
                    if (dungluongOption) {
                        dungluongOption.classList.add('selected');
                        currentDungluong = index;
                    }

                    const firstColorOption = selectedColorOptions[0];
                    if (firstColorOption) {
                        const colorElement = firstColorOption.querySelector('.color-circle-inner1');
                        const color = getComputedColor(colorElement);
                        showDetails(dungluongOption.textContent.trim(), color, 0);
                    }
                }

                function showDetails(index, color, rowIndex) {
                    const detailOptions = document.querySelectorAll('.detailOption');
                    detailOptions.forEach(option => {
                        option.style.display = 'none';
                        option.classList.remove('selected');
                    });

                    const selectedDetailOptions = document.querySelectorAll(`.detailOption[data-color="${index}${color}"]`);
                    selectedDetailOptions.forEach(option => {
                        option.style.display = 'flex';
                    });

                    document.getElementById('detailContainer').style.display = 'flex';

                    if (currentMausac !== null) {
                        const previousMausac = document.getElementById(`mausac${currentMausac}${index}`);
                        if (previousMausac) {
                            previousMausac.classList.remove('selected2');
                        }
                    }

                    const mausacOption = document.getElementById(`mausac${rowIndex}${index}`);
                    if (mausacOption) {
                        mausacOption.classList.add('selected2');
                        currentMausac = rowIndex;
                        currentColor = getComputedColor(mausacOption.querySelector('.strongmausac1'));
                    }

                    const detailOption = selectedDetailOptions[currentChitiet];
                    if (detailOption) {
                        const price = detailOption.getAttribute('data-price');
                        chitietselect(currentChitiet, color, index, price);
                    }
                }

                function chitietselect(index, rowname, itemname, price) {
                    const detailOptions = document.querySelectorAll('.detailOption');
                    detailOptions.forEach(option => {
                        option.classList.remove('selected');
                    });

                    const priceElement = document.querySelector('.pricemobile2');
                    if (priceElement) {
                        priceElement.textContent = price;
                    }

                    const chitietOption = document.getElementById(`chitiet${itemname}${rowname}${index}`);
                    if (chitietOption) {
                        chitietOption.classList.add('selected');
                        currentChitiet = index;
                    }
                }

                function init() {
                    showColors(0);
                    const dungluongOption = document.getElementById('dungluong0');
                    if (dungluongOption) {
                        const name = dungluongOption.textContent.trim();
                        const firstMausac = document.querySelector(`.colorOption[data-index="0"]`);
                        if (firstMausac) {
                            const colorElement = firstMausac.querySelector('.color-circle-inner1');
                            const color = getComputedColor(colorElement);
                            currentColor = color;
                            showDetails(name, color, 0);
                            const firstChitiet = document.querySelector(`.detailOption[data-color="${name}${color}"]`);
                            if (firstChitiet) {
                                const price = firstChitiet.getAttribute('data-price');
                                chitietselect(0, color, name, price);
                            }
                        }
                    }
                }
            </script>


            <script>
                let currentDungluong1 = null;
                let currentMausac1 = null;
                let currentChitiet1 = 0;
                let currentColor1 = '';

                function showColors1(index) {
                    const colorOptions = document.querySelectorAll('.colorOption1');
                    colorOptions.forEach(option => {
                        option.style.display = 'none';
                        option.classList.remove('selected');
                    });

                    const selectedColorOptions = document.querySelectorAll(`.colorOption1[data-index="${index}itemmobile"]`);
                    selectedColorOptions.forEach(option => {
                        option.style.display = 'flex';
                    });

                    document.getElementById('colorContainer1').style.display = 'flex';
                    document.getElementById('detailContainer1').style.display = 'none';

                    // Xóa lớp selected từ dung lượng trước đó
                    if (currentDungluong1 !== null) {
                        const previousDungluong = document.getElementById(`dungluong${currentDungluong1}itemmobile`);
                        if (previousDungluong) {
                            previousDungluong.classList.remove('selected');
                        }
                    }

                    const dungluongOption = document.getElementById(`dungluong${index}itemmobile`);
                    if (dungluongOption) {
                        dungluongOption.classList.add('selected');
                        currentDungluong1 = index;
                    }

                    // Chọn màu sắc tương ứng nếu đã chọn trước đó
                    if (currentColor1) {
                        const matchingColorOption = [...selectedColorOptions].find(option => {
                            return option.querySelector('.strongmausac1').textContent.trim() === currentColor1;
                        });

                        if (matchingColorOption) {
                            const color = matchingColorOption.querySelector('.strongmausac1').textContent.trim();
                            showDetails1(dungluongOption.textContent.trim(), color, currentMausac1 !== null ? currentMausac1 : 0); // Giữ lại chi tiết đã chọn
                        } else {
                            // Nếu không tìm thấy màu sắc đã chọn, chọn màu sắc đầu tiên
                            const firstColor = selectedColorOptions[0];
                            if (firstColor) {
                                const color = firstColor.querySelector('.strongmausac1').textContent.trim();
                                showDetails1(dungluongOption.textContent.trim(), color, 0); // Chọn chi tiết đầu tiên
                            }
                        }
                    } else {
                        // Nếu chưa có màu sắc nào được chọn, chọn màu sắc đầu tiên
                        const firstColor = selectedColorOptions[0];
                        if (firstColor) {
                            const color = firstColor.querySelector('.strongmausac1').textContent.trim();
                            showDetails1(dungluongOption.textContent.trim(), color, 0); // Chọn chi tiết đầu tiên
                        }
                    }
                }

                function showDetails1(index, color, rowIndex) {
                    const detailOptions = document.querySelectorAll('.detailOption1');
                    detailOptions.forEach(option => {
                        option.style.display = 'none';
                        option.classList.remove('selected');
                    });

                    const selectedDetailOptions = document.querySelectorAll(`.detailOption1[data-color="${index}${color}itemmobile"]`);
                    selectedDetailOptions.forEach(option => {
                        option.style.display = 'flex';
                    });

                    document.getElementById('detailContainer1').style.display = 'flex';
                    // Xóa lớp selected cho màu sắc trước đó
                    if (currentMausac1 !== rowIndex) {
                        const previousMausac = document.getElementById(`mausac${currentMausac1}${index}itemmobile`);
                        if (previousMausac) {
                            previousMausac.classList.remove('selected1');
                        }
                    }
                    console.error(currentMausac1)

                    const mausacOption = document.getElementById(`mausac${rowIndex}${index}itemmobile`);
                    if (mausacOption) {
                        mausacOption.classList.add('selected1');
                        currentMausac1 = rowIndex;
                        currentColor1 = mausacOption.querySelector('.strongmausac1').textContent.trim();
                    }

                    const detailOption = selectedDetailOptions[currentChitiet1];
                    if (detailOption) {
                        const price = detailOption.getAttribute('data-price');
                        chitietselect1(currentChitiet1, color, index, price);
                    }
                }

                function chitietselect1(index, rowname, itemname, price) {
                    const detailOptions = document.querySelectorAll('.detailOption1');
                    detailOptions.forEach(option => {
                        option.classList.remove('selected');
                    });

                    const priceElement = document.querySelector('.pricestrong1');
                    if (priceElement) {
                        priceElement.textContent = price;
                    }

                    const chitietOption = document.getElementById(`chitiet${itemname}${rowname}${index}itemmobile`);
                    if (chitietOption) {
                        chitietOption.classList.add('selected');
                        currentChitiet1 = index;
                    }
                }

                function init1() {
                    showColors1(0);
                    const dungluongOption = document.getElementById('dungluong0itemmobile');
                    if (dungluongOption) {
                        const name = dungluongOption.textContent.trim();
                        const firstMausac = document.querySelector(`.colorOption1[data-index="0itemmobile"]`);
                        if (firstMausac) {
                            const color = firstMausac.querySelector('.strongmausac1').textContent.trim();
                            currentColor1 = color;
                            showDetails1(name, color, 0);
                            const firstChitiet = document.querySelector(`.detailOption1[data-color="${name}${color}itemmobile"]`);
                            if (firstChitiet) {
                                const price = firstChitiet.getAttribute('data-price');
                                chitietselect1(0, color, name, price);
                            }
                        }
                    }
                }

                window.onload = function() {
                    init1();
                };
            </script>




            <script>
                function makeCall() {
                    event.preventDefault();
                    // Thay đổi số điện thoại dưới đây bằng số điện thoại thực tế
                    var phoneNumber = "0833354354";

                    // Kiểm tra xem trình duyệt có hỗ trợ gọi điện không
                    if ("contacts" in navigator && "ContactsManager" in window) {
                        // Sử dụng API Contacts để gọi điện
                        navigator.contacts.select(["phone"]).then(contacts => {
                            // Gọi điện đến số điện thoại đã được chỉ định
                            contacts.forEach(contact => {
                                contact.phoneNumbers.forEach(phone => {
                                    if (phone.value === phoneNumber) {
                                        contact.pick();
                                    }
                                });
                            });
                        });
                    } else {
                        // Mở giao diện gọi điện của trình duyệt
                        window.location.href = "tel:" + phoneNumber;
                    }
                }
                document.addEventListener("DOMContentLoaded", function() {
                    const callA = document.getElementById("callA");

                    if (callA) {
                        callA.addEventListener("click", makeCall);
                    }
                });
            </script>
            <script src="/js/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="/js/plugins.js"></script>
            <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>